<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <script src="/DrumtongJs/jquery-3.6.0.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-box">
            <div class="logo-img">
                <img src="/img/로고 (1) 1.svg">
            </div>
            <div class="logo-name">
                <div class="drum">DRUM</div>
                <div class="tong">TONG</div>
            </div>
        </div>
        <div class="nav-box">
            <div class="navbox1">
                <ul class="navi-small-box">
                    <li><a href="#">Sales Page</a></li>
                    <li><a href="#">Admin MemberList</a></li>
                    <li>
                        <a href="#"
                        ><span class="material-icons">perm_identity</span></a>
                    </li>
                    <li><a href="#"><span class="material-icons">list_alt</span></a></li>
                    <li><a href="#"><span class="material-icons">shopping_cart</span></a></li>
                    <li><a href="#"><span class="material-icons">logout</span></a></li>
                </ul>
            </div>
            <div class="navbox2">
                <ul class="menu-box">
                    <li><a href="#">ORDER</a></li>
                    <li><a href="/news/list">NEWS</a></li> 
                    <li><a href="/customer/list">CUSTMER SERVICE</a></li>                   

                </ul>
            </div>
        </div>
    </div>   
</body>
</html>
