<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/DrumtongCss/header.css">
    <link rel='stylesheet' href="/DrumtongCss/customer.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <script src = "js/jquery-3.7.1.js"></script>

</head>
<body>
    <div class="header">
        <div class="logo-box">
            <div class="logo-img">
                <img src="/img/로고 (1) 1.svg">
            </div>
            <div class="logo-name">
                <div class="drum">DRUM</div>
                <div class="tong">TONG</div>
            </div>
        </div>
        <div class="nav-box">
            <div class="navbox1">
                <ul class="navi-small-box">
                    <li><a href="#">Sales Page</a></li>
                    <li><a href="#">Admin MemberList</a></li>
                    <li>
                        <a href="#"><img src="/img/mdi_user-outline.svg"></a>
                    </li>
                    <li><a href="#"><img src="/img/lsicon_list-outline.svg"></a></li>
                    <li><a href="#"><img src="/img/mdi_cart.svg"></a></li>
                    <li><a href="#"><img src="/img/material-symbols_logout.svg"></a></li>
                </ul>
            </div>
            <div class="navbox2">
                <ul class="menu-box">
                    <li><a href="#">ORDER</a></li>
                    <li><a href="/news/list">NEWS</a></li> 
                    <li><a href="/customer/list">CUSTMER SERVICE</a></li>                   

                </ul>
            </div>
        </div>
    </div>   
</body>
</html>
