<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <script src="/DrumtongJs/jquery-3.6.0.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/DrumtongJs/sweetalert.min.js"></script>
</head>
<body>
    <div class="header">
    	<a href="/" style="text-decoration:none;">
        	<div class="logo-box">
	            <div class="logo-img">
	                <img src="/img/로고 (1) 1.svg">
	            </div>
	            <div class="logo-name">
	                <div class="drum">DRUM</div>
	                <div class="tong">TONG</div>
	            </div>
        	</div>
        </a>            
        <div class="nav-box">
            <div class="navbox1">
                <ul class="navi-small-box">
                    <li th:if="${session.member != null && session.member.memberGrade == '관리자'}">
    					<a href="/admin/adminChart">Admin</a>
					</li>
					<li th:if="${session.member != null && session.member.memberGrade == '관리자'}">
    					<a href="/admin/adminPage">MemberList</a>
					</li>
                    <li>
                        <a href="/member/mypage"><span class="material-icons">perm_identity</span></a>
                    </li>
                    <li><a href="/order/OrderList"><span class="material-icons">list_alt</span></a></li>
                    <th:block th:if="${session.member == null}">
						<li><a href="/member/loginFrm"><span class="material-icons">login</span></a></li>
					</th:block>
					<th:block th:if="${session.member != null}">
						<li><a href="/member/logout"><span class="material-icons">logout</span></a></li>
					</th:block>
                </ul>
            </div>
            
            
            
            
            
            <div class="navbox2">
                <ul class="menu-box">
                    <li><a href="/order/OrderMap">ORDER</a></li>
                    <li><a href="/news/list?noticeReqPage=1&tab=all&modal=1">NEWS</a></li> 
                    <li><a href="/customer/list?reqPage=1">CUSTOMER SERVICE</a></li>   
                    <li><a href="/membership/membershipPage">MEMBERSHIP</a></li>                    
                </ul>
            </div>
        </div>
    </div>   
</body>
</html>
