<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/product.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
		<!--카테고리-->
	<div class="wrap">
		<div class="product_wrap">
			<div class="product_title_wrap">
				<ul class="product_title">
					<li class="product_title_main"><a href="">전체상품</a></li>
					<li class="product_title_main product_drink">음료
						<div class="product_title_list">
							<ul class="product_title_ice">
								<li>ICE
									<ul>
										<li><a href="#">커피</a></li>
										<li><a href="#">차</a></li>
										<li><a href="#">그 외 제조음료</a></li>
									</ul>
								</li>
							</ul>
							<ul class="product_title_hot">
								<li>HOT
									<ul>
										<li><a href="#">커피</a></li>
										<li><a href="#">차</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					<li class="product_title_main"><a href="#">디저트</a></li>
					<li class="product_title_main"><a href="#">굿즈</a></li>
				</ul>
			</div>
				
			<!--출력순 버튼-->
			<div class="product_list_btn">
				<button class="btn product_btn">가격순</button>
				<button class="btn product_btn">최신순</button>
				<button class="btn product_btn">좋아요순</button>
			</div>
			
			<!--e(관리자버튼)메뉴 추가 -->
			<div class="product_insert_btn">
				<button class="btn"><a href="#">메뉴 추가</a></button>
			</div>
			
			
			<!-- 이미지  -->
			<form action="#" method="get" id="">
				<div class="product_list">
					<!-- [js]for문 -->
					<ul>
						<li class="product_one">
							<div class="product_one_box">
								<!-- 클릭 시, 장바구니로 이동 -->
								<input type="submit" name="product" id="product">	
								<label for="product">
									<div class="product_img_box">
										<img alt="" src="">
									</div>
									<!-- DB에서 들고올거 -->
									<div class="product_content_box">
										<h3>product_name</h3>
										<p>칼로리 : ${.product_content_kcal} kcal</p>
										<p>카페인 : ${.product_content_shot} 샷</p>
										<p>당 : ${.product_content_sugar} g</p>
										<p>나트륨 : ${.product_content_natrium} g</p>
										<p>지방 :${.product_content_carbs} g </p>
									</div>
								</label>
							    <!-- e[관리자,회원,비회원] -->
								<div class="product_icon">
									<div class="product_cart">
										<input type="submit" name="product_cart" id="product_cart">	
										<label for="product_cart">
											<span class="material-icons">add_shopping_cart</span>
										</label>
									</div>
									<!-- e[회원-좋아요 기능] -->
									<div class="product_like">
										<span class="material-icons">favorite_border</span>
										<span class="material-icons">favorite</span>
									</div>
								</div>							
							</div>
						
						</li>
					</ul>
				</div>
			</form>
			
		</div>
	</div>
</body>
</html>