<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/product.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
		<!--카테고리-->
	<div class="wrap">
		<div class="product_wrap">
			<div class="product_title_wrap">
				<ul class="product_title">
					<li class="product_title_main"><a href="#">전체상품</a></li>
					<li class="product_title_main product_drink">음료
						<div class="product_title_list">
							<ul class="product_title_ice">
								<li>ICE
									<ul>
										<li><a href="#">커피</a></li>
										<li><a href="#">차</a></li>
										<li><a href="#">그 외 제조음료</a></li>
									</ul>
								</li>
							</ul>
							<ul class="product_title_hot">
								<li>HOT
									<ul>
										<li><a href="#">커피</a></li>
										<li><a href="#">차</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					<li class="product_title_main"><a href="#">디저트</a></li>
					<li class="product_title_main"><a href="#">굿즈</a></li>
				</ul>
			</div>
			
			<div class="product_new_wrap">
				<!--출력순 버튼-->
				<div class="product_list_btn">
					<button class="btn product_btn">가격순</button>
					<button class="btn product_btn">최신순</button>
					<button class="btn product_btn">좋아요순</button>
				</div>
			
				<!--e(관리자버튼)메뉴 추가 -->
				<!-- 메뉴추가 페이지로 이동->페이지에서 form으로 controller -->
				<div class="product_insert_btn">
					<button class="btn"><a href="/product/productInsertFrm">메뉴 추가</a></button>
				</div>
			</div>	
				
			<!-- 이미지  -->
				<div class="product_list_wrap">
					<ul>
						<!-- [js]for문-대표 상품 리스트 -->
						<li class="product_one_wrap" th:each="product : ${list}">
							<div class="product_one_box">
								<div class="product_manager_btn">
									<form action="#">
									<!-- 수정 페이지로 이동<a class="btn-primary" th:href="@{/notice/updateFrm(noticeNo=${n.noticeNo})}">수정</a> <!-- updateFrm 생성 noticeNo에 해당하는 정보 수정 --> 
										<input type="submit" class="product_update_btn" name="product_no" id="product_no" >
										<label for="product_no">
											<button class="btn">수정</button>
										</label>
									</form>
									<form action="#"><!-- 삭제 controller 페이지로 이동(삭제 후 해당 페이지로)-->
										<input type="submit" class="product_delete_btn" name="product_no" id="product_no">
										<label for="product_no">
											<button class="btn">삭제</button>
										</label>
									</form>
								</div>
								<!-- 클릭 시, 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)-->
								<form action="/order/Orderoption" method="get" id="">
									<!-- 자명님 주소값 보내는게 없어서 밑에 한줄만 추가했습니다! -전인턴- -->
									<input type="hidden" name="shopName" th:value="${shopName}">
									<input type="submit" class="product" name="productNo" id="product_no1" value="1">	
									<label for="product_no1">
										<div class="product_img_box">
											
											<!-- img 스크립트 걸거 -->
											<img src="/img/product/음료/아이스/커피/아메리카노.jpg">
											<!-- DB에서 들고올거 -->
											<div class="product_content_box">
												<h3>product_name</h3>
												<p>칼로리 : <p th:text="${product.productContentKcal}"></p> kcal</p>
												<p>카페인 : <p th:text="${product.productContentShot}"></p> g</p>
												<p>당 : <p th:text="${product.productContentSugar}"></p> g</p>
												<p>나트륨 : <p th:text="${product.productContentNatrium}"></p> g</p>
												<p>단백질 :<p th:text="${product.productContentProtein}"></p> g</p>
											</div>
										</div>	
									</label>
								</form>
							   	 <!-- e[관리자,회원,비회원] -->
								<div class="product_icon">
									<!-- 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)-->
									<form action="/order/Orderoption" method="get" id="">
										<div class="product_cart">
											<input type="hidden" name="shopName" th:value="${shopName}">
											<input type="submit" class="product" name="productNo" id="product_no1" value="1">
											<!-- 
												<input type="submit" class="product_cart" name="product_no" id="product_no2">
											 -->	
											<label for="product_no2">
												<span class="material-icons">add_shopping_cart</span>
											</label>
										</div>
									</form>
									<!-- e[회원-좋아요 기능] -->
									<div class="product_like">
										<ul>
											<li>
												<p>
													<span class="material-icons unlike_icon">favorite_border
														<span class="material-icons unlike_icon">favorite_border</span>
														<span class="material-icons like_icon">favorite</span>
														<span class="like_count">좋아요 수</span>
													</span>
												</p>
											</li>
										</ul>
										
									</div>
								</div>							
							</div>
						</li>
						
						
						<!--
						<!-- [js]for문-상품 리스트 했는데 안됨. 자바스크립트로 다시 만들어야 할 수도(이미지 땜시
						<li class="product_one_wrap" th:each="product : ${list}">
							<div class="product_one_box">
								<div class="product_manager_btn">
									<form action="#">
									<!-- 수정 페이지로 이동<a class="btn-primary" th:href="@{/notice/updateFrm(noticeNo=${n.noticeNo})}">수정</a> <!-- updateFrm 생성 noticeNo에 해당하는 정보 수정 
										<input type="submit" class="product_update_btn" name="product_no" id="product_no" >
										<label for="product_no">
											<button class="btn">수정</button>
										</label>
									</form>
									<form action="#"><!-- 삭제 controller 페이지로 이동(삭제 후 해당 페이지로)
										<input type="submit" class="product_delete_btn" name="product_no" id="product_no">
										<label for="product_no">
											<button class="btn">삭제</button>
										</label>
									</form>
								</div>
								<!-- 클릭 시, 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)
								<form action="/order/Orderoption" method="get" id="">
									<input type="submit" class="product" name="productNo" id="product_no1" value="1">	
									<label for="product_no1">
										<div class="product_img_box">
										
										
											<img  src="/img/product/1.jpg">
											<!-- DB에서 들고올거 
											<div class="product_content_box">
												<h3>product_name</h3>
												<p>칼로리 : <p th:text="${product.productContentKcal}"></p>kcal</p>
												<p>카페인 : <p th:text="${product.productContentShot}"></p> g</p>
												<p>당 : <p th:text="${product.productContentSugar}"></p> g</p>
												<p>나트륨 : <p th:text="${product.productContentNatrium}"></p> g</p>
												<p>단백질 : <p th:text="${product.productContentProtein}"></p> g</p>
											</div>
										</div>	
									</label>
								</form>
							   	 <!-- e[관리자,회원,비회원] 
								<div class="product_icon">
									<!-- 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)
									<form action="/order/Orderoption" method="get" id="">
										<div class="product_cart">
											<input type="submit" class="product_cart" name="product_no" id="product_no2">	
											<label for="product_no2">
												<span class="material-icons">add_shopping_cart</span>
											</label>
										</div>
									</form>
									<!-- e[회원-좋아요 기능] 
									<div class="product_like">
										<ul>
											<li>
												<p>
													<span class="material-icons unlike_icon">favorite_border
														<span class="material-icons unlike_icon">favorite_border</span>
														<span class="material-icons like_icon">favorite</span>
														<span class="like_count">좋아요 수</span>
													</span>
												</p>
											</li>
										</ul>
										
									</div>
								</div>							
							</div>
						</li>
						  -->

						
					</ul>
				</div>	
			</div>
		</div>
		
		
		<script th:inline="javascript">
		<!--
		<div class="product_img_box">
		
		<!-- img 스크립트 걸거 
		<img src="/img/product/음료/아이스/커피/아메리카노.jpg">
		-->
		
		$.ajax({
			url : "/product/productList",
			type : "get",
			data : {list : list},
			success : function(data){
				for(product:data){
					const img = $("<img>");
					img.attr("src","/img/product/"+product.productImg)
			
		}
				
			}
		})
		
		
		
		
		
		  
		
		
		
		</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>