<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/productInsert.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
	<div class="wrap content-wrap">
	<div class="productInsert_wrap">
		<div class="productInsert_title_wrap">상품 등록</div>

		<!--e버튼에 따라 카테고리 상세, 상세정보 다름-->
		<!-- productTitle 세션에서 바로 form 넘겨주면 되나? -->
		<div class="productInsert_title_btn">
			<button style="color:var(--main4); background-color:var(--main5)" class="btn title_drink_btn">음료</button>
			<button class="btn title_dessert_btn"><a href="/product/productInsertDessert?productTitle=dessert">디저트</a></button>
			<button class="btn title_goods_btn"><a class="drink_btn" href="/product/productInsertGoods?productTitle=goods">굿즈</a></button>
		</div>
		
	
		<form action="/product/productInsert?productTitle=drink" method="post" enctype="multipart/form-data">
			<div class="productInsert_content_wrap">
				<div class="content_wrap content_name">
					<div class="productInsert_title name_title">상품명</div>
					<div class="productInsert_title_content name_content_wrap">
						<input type="text" name="productName" id="productName" class="name_content">
					</div>
				</div>
				<div class="content_wrap content_category">
					<div class="productInsert_title category_title">카테고리 상세</div>
					<!-- 대표상품 체크 시, product_tbl/product_best_tbl 인서트 -->
					<div class="productInsert_title_content category_radio">
						<div class="category_best_radio">	
							<input type="radio" name="productBestTbl" class="product_best_radio" value="productBest" id="product_best_tbl">
							<label for="product_best_tbl">대표상품</label>
							<input type="radio" name="productBestTbl" class="product_best_radio" value="productNotBest" id="product_best_tbl_n">
							<label for="product_best_tbl_n">일반상품</label>
						</div>
						<div class="category_drink_radio">	
							<div class="drink_title">
								<span>아이스 :</span>
								<input type="radio" name="productTitleDetail" class="product_drink_radio" value="iceCoffe" id="iceCoffe">
								<label for="iceCoffe">커피</label>
								<input type="radio" name="productTitleDetail" class="product_drink_radio" value="iceTea" id="iceTea">
								<label for="iceTea">차</label>
								<input type="radio" name="productTitleDetail" class="product_drink_radio" value="iceOtherDrink" id="iceOtherDrink">
								<label for="iceOtherDrink">그 외 제조음료</label>
							</div>
							<div class="div">/</div>
							<div class="drink_title drink_title_hot">
								<span>핫 :</span>
								<input type="radio" name="productTitleDetail" class="product_drink_radio" value="hotCoffe" id="hotCoffe">
								<label for="hotCoffe">커피</label>
								<input type="radio" name="productTitleDetail" class="product_drink_radio" value="hotTea" id="hotTea">
								<label for="hotTea">차</label>
							</div>
						</div>
					</div>
				</div>
				<div class="content_wrap content_img">
					<div class="img_insert_wrap">
						<div class="productInsert_title img_insert">이미지 등록</div>
						<div class="productInsert_title img_insert_choice">
						<!-- <input type="file" name="imageFile" accept="image/*" onchange="loadImg(this);"><!-- (추가메모)accept="image/*" 이미지 말고 다른 파일 선택 불가 --> 
							<input type="file" name="imageFile" accept="image/*" onchange="loadImg(this);">
						</div>
					</div>
					<div class="img_show_wrap">
						<div class="productInsert_title img_show">이미지 미리보기</div>
						<div class="img_show_content">
							<!-- <img id="img-view" width="500px" src="/image/default_img.png"> -->
							<!-- 현재 이미지show 볼 수 있는 페이지 사이즈 264*300 -->
							<img id="img-view" width="250px" src="/img/default_img.png">
						</div>
					</div>
				</div>
				<div class="content_wrap" id="content_detail">
					<div class="productInsert_title detail_insert">상세정보</div>
					<div class="detail_insert_content">
						<ul class="detail_box">
							<li>
								<label for="price">가격(원) : </label> 
								<input type="text" name="productPrice" id="price">
							</li> 
							<li>
								<label for="kcal">칼로리(kcal) : </label> 
								<input type="text" name="productContentKcal" id="kcal">
							</li>  
							<li>
								<label for="shot">카페인(g) : </label> 
								<input type="text" name="productContentShot" id="shot">
							</li>
							<li> 
								<label for="sugar">당류(g) : </label> 
								<input type="text" name="productContentSugar" id="sugar">
							</li>  
							<li>
								<label for="natrium">나트륨(g) : </label> 
								<input type="text" name="productContentNatrium" id="natrium">
							</li>
							<li>
								<label for="carbs">단백질(g) : </label> 
								<input type="text" name="productContentProtein" id="protein">
							</li>  
							
						</ul>
						
					</div>
				</div>
			</div>
			
				<button class="btn insert_btn" type="submit">등록</button>
				<button type="button" class="btn no_btn"><a href="/product/productList?reqPage=1&shopName=manager">취소</a></button>
		</form>
		<div class="insert_btn_wrap">
			
		
		</div>
	</div>		
	</div>
	
	<script>
	
		function loadImg(obj){
			//매개변수로 받은 obj는 input type="file" 인 요소
			//해당 객체에 files라는 속성에 접근하면 첨부파일 정보를 볼 수 있음
			console.log(obj.files);
			//multiple옵션을 사용하는 경우 첨부파일 정보가 여러개일 수 있기 때문에 파일을 여러개 담울 수 있는 객체
			//file속성에 있는 객체는 배열과 유사한형태를 띄고있지만 배열은 아님 => forEach사용하면 에러발생
			if(obj.files.length !== 0){
				//첨부파일이 변경되었을 때
				//첨부파일이 있는 경로에 접근 불가능 -> 첨부파일의 데이터를 읽어옴
				const reader = new FileReader();//파일정보를 읽어올 수 있는 js 객체
				//선택한 파일의 정보를 읽어오는 함수
				reader.readAsDataURL(obj.files[0]);
				//파일리터가 정보를 다 읽어오면 동작할 함수 작성
				reader.onload = function(e){
					//동작할 함수에 매개변수로 파일에대한 정보가 들어있음
					$("#img-view").attr("src",e.target.result);
				}
			}else{
				//첨부파일이 사라졌을 때
				$("#img-view").attr("src","/img/default_img.png");
			}
		}
		console.log($(".name_content").text());
		//if($(".name_content").text() == null ||
	</script>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>