<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/productInsert.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
	<div class="wrap">
	<div class="productInsert_wrap">
		<div class="productInsert_title_wrap">상품 등록</div>

		<!--e버튼에 따라 카테고리 상세, 상세정보 다름-->
		<!-- productTitle 세션에서 바로 form 넘겨주면 되나? -->
		<div class="productInsert_title_btn">
			<button type="submit" class="btn title_drink_btn"><a href="/product/productInsertDrink?productTitle=drink">음료</a></button>
			<button class="btn title_dessert_btn"><a href="/product/productInsertDesert?productTitle=desert">디저트</a></button>
			<button class="btn title_goods_btn"><a class="drink_btn" href="/product/productInsertGoods?productTitle=goods">굿즈</a></button>
		</div>
</body>
</html>