<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/product.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
		<!--카테고리-->
	<div class="wrap">
		<div class="product_wrap">
			<div class="product_title_wrap">
				<ul class="product_title">
					<li class="product_title_main product_all_list"><a class="product_all_list_a product_title_main_a" th:href="@{/product/productList(reqPage=1,shopName=${shopName})}">전체상품</a></li>
					<li class="product_title_main product_drink drink_li">음료
						<div class="product_title_list">
							<ul class="product_title_ice">
								<li>ICE
									<ul>
										<li><a class="drink_a_iceCoffe" th:href="@{/product/productIceCoffeList(reqPage=1,shopName=${shopName})}">커피</a></li>
										<li><a class="drink_a_iceTea" th:href="@{/product/productIceTeaList(reqPage=1,shopName=${shopName})}">차</a></li>
										<li><a class="drink_a_iceOther" th:href="@{/product/productIceOtherList(reqPage=1,shopName=${shopName})}">그 외 제조음료</a></li>
									</ul>
								</li>
							</ul>
							<ul class="product_title_hot">
								<li>HOT
									<ul>
										<li><a class="drink_a_hotCoffe" th:href="@{/product/productHotCoffetList(reqPage=1,shopName=${shopName})}">커피</a></li>
										<li><a class="drink_a_hotTrs" th:href="@{/product/productHotTeaList(reqPage=1,shopName=${shopName})}">차</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					<li class="product_title_main dessert_li"><a class="dessert_a product_title_main_a" th:href="@{/product/productDessertList(reqPage=1,shopName=${shopName})}">디저트</a></li>
					<li class="product_title_main goods_li"><a class="goods_a product_title_main_a" href="#">굿즈</a></li>
				</ul>
			</div>
			
			<div class="product_new_wrap">
				<!--출력순 버튼-->
				<div class="product_list_btn">
					<button class="btn product_btn price_btn">가격순</button>
					<button class="btn product_btn day_btn">최신순</button>
					<!-- 
					<button class="btn product_btn like_btn">좋아요순</button>
					 -->
				</div>
			
				<!--e(관리자버튼)메뉴 추가 -->
				<!-- 메뉴추가 페이지로 이동->페이지에서 form으로 controller -->
				<div class="product_insert_btn">
					<button class="btn product_insert_manager_btn"><a href="/product/productInsertFrm">메뉴 추가</a></button>
				</div>
			</div>	
				
			<!-- 이미지  -->
				<div class="product_list_wrap">
					<ul class="product_list_wrap_ul">
						
	
					</ul>
				</div>	
			</div>
		</div>
		
		
		<script th:inline="javascript">
			//const reqPage=[[${reqPage}]];
			
			
					const member = [[${session.member}]];
					
					if(member.memberGrade != "관리자"){
						$(".product_insert_manager_btn").css("display","none");
					}
						
						console.log(member);
					console.log([[${list}]]);
					
					const shopName= [[${shopName}]];
					let idNum = 1;
					
					
					const bestList = [[${bestList}]];
				
					//대표상품 먼저 띄우는 기본창
					const list = [[${allList}]];
					
					
					for(let i=0;i<list.length;i++){
						console.log("for문 시작");
						const product = list[i];
						console.log(product);
						
						const li = $("<li>");
						li.addClass("product_one_wrap");
						
						const div =$("<div>");
						div.addClass("product_one_box");
						
						const divManagerBtn =$("<div>");
						divManagerBtn.addClass("product_manager_btn");
						
						
						//대표상품 아이콘
						for(let j=0;j<bestList.length;j++){
							const best = bestList[j];
							if(best.productNo == product.productNo){
								const bestDiv =$("<div>");
								bestDiv.addClass("best_div");
								bestDiv.attr("style", "width:115px; height:30px; color:var(--main4); float:left;");
						
								const bestIconSpan1 = $("<span>")
								bestIconSpan1.addClass("material-icons");
								bestIconSpan1.addClass("best_icon");
								bestIconSpan1.text("star");
								bestDiv.append(bestIconSpan1);
								
								const bestText = $("<span>")
								bestText.addClass("best_text");
								bestText.attr("style","fontWeight:600");
								bestText.attr("style","color:var(--main4)");
								bestText.text("대표상품");
								bestDiv.append(bestText);
								
								const bestIconSpan2 = $("<span>")
								bestIconSpan2.addClass("material-icons");
								bestIconSpan2.addClass("best_icon");
								bestIconSpan2.text("star");
								bestDiv.append(bestIconSpan2);
								
								divManagerBtn.prepend(bestDiv);
					
								break;
							
							}
						}
						
						
						if(member.memberGrade == "관리자"){
						
						//수정btn
						const updateForm = $("<form>");
						updateForm.attr("action","/product/productUpdateFrm");
						updateForm.attr("method","get");
						updateForm.attr("value",product.productNo);
						
						const updateInput = $("<input>");
						updateInput.attr("type","hidden");
						updateInput.attr("value",product.productNo);
						updateInput.attr("id",idNum);
						updateInput.attr("name","productNo");
						
						const updateLabel=$("<label>");
						updateLabel.attr("for",idNum);
						idNum++;
						
						const updateButton =$("<button>");
						updateButton.addClass("btn");
						updateButton.attr("type","submit");
						updateButton.text("수정");
						
						//
						updateForm.append(updateInput);
						
						//					
						updateLabel.append(updateButton);
						updateForm.append(updateLabel);
						divManagerBtn.append(updateForm);
						
						//삭제btn
						const deleteForm = $("<form>");
						deleteForm.attr("action","/product/productDelete");
						deleteForm.attr("method","get");
						deleteForm.attr("value",product.productNo);
						
						const deleteInput = $("<input>");
						deleteInput.attr("type","hidden");
						deleteInput.attr("value",product.productNo);
						deleteInput.attr("id",idNum);
						deleteInput.attr("name","productNo");
						
						const deleteLabel=$("<label>");
						deleteLabel.attr("for",idNum);
						idNum++;
						
						const deleteButton =$("<button>");
						deleteButton.addClass("btn");
						deleteButton.attr("type","submit");
						deleteButton.text("삭제");
						//
						deleteForm.append(deleteInput);
						
						//
						deleteLabel.append(deleteButton);
						deleteForm.append(deleteLabel);
						divManagerBtn.append(deleteForm);
						}
						//--관리자버튼 완성(divonebox)
						div.append(divManagerBtn);
						
						
						//현우님 order가는 form
						const imgForm = $("<form>");
						if(member.memberGrade != "관리자"){
							imgForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							imgForm.attr("action","#");
						}
						imgForm.attr("method","get");
						
						
						//매장명input
						const input1 =$("<input>");
						input1.attr("type","hidden");
						input1.attr("name","shopName");
						input1.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						imgForm.append(input1);
						
						//상품번호 input
						const input2 =$("<input>");
						input2.attr("type","submit");
						input2.attr("name","productNo");
						input2.attr("value",product.productNo);
						input2.attr("id",idNum);
						//
						imgForm.append(input2);
						//input2 에 대한 label
						const label2 = $("<label>");
						label2.attr("for",idNum);
						idNum++;
						
						const imgBoxDiv = $("<div>");
						imgBoxDiv.addClass("product_img_box");
						
						const img = $("<img>");
						img.attr("src","/product/"+product.productImg);
						//
						imgBoxDiv.append(img);
						
						const contentBoxDiv=$("<div>");
						contentBoxDiv.addClass("product_content_box");
						
						const h3 =$("<h3>");
						h3.text(product.productName);
						contentBoxDiv.append(h3);
						if(product.productTitle=="goods"){
							const p1=$("<p>");
							p1.text(product.productContentPresent);
							contentBoxDiv.append(p1);
						}else{
							const p2=$("<p>");
							p2.text("칼로리 : ");
							const span2=$("<span>");
							span2.text(product.productContentKcal+"kcal");
							p2.append(span2);
							contentBoxDiv.append(p2);
							
							const p3=$("<p>");
							p3.text("카페인 : ");
							const span3=$("<span>");
							span3.text(product.productContentShot+"g");
							p3.append(span3);
							contentBoxDiv.append(p3);
							
							const p4=$("<p>");
							p4.text("당 : ");
							const span4=$("<span>");
							span4.text(product.productContentSugar+"g");
							p4.append(span4);
							contentBoxDiv.append(p4);
							
							const p5=$("<p>");
							p5.text("나트륨 : ");
							const span5=$("<span>");
							span5.text(product.productContentNatrium+"g");
							p5.append(span5);
							contentBoxDiv.append(p5);
							
							const p6=$("<p>");
							p6.text("단백질 : ");
							const span6=$("<span>");
							span6.text(product.productContentProtein+"g");
							p6.append(span6);
							contentBoxDiv.append(p6);
						}
						
						imgBoxDiv.append(contentBoxDiv);
						label2.append(imgBoxDiv);
						imgForm.append(label2);
						div.append(imgForm);
						//위에까지가 product_one_box안에 매니저 수정 삭제 버튼 넣고/ 상품 박스까지 넣어둠
						
						
						//아래부터는 아이콘
						const iconDiv =$("<div>");
						iconDiv.addClass("product_icon");
						
						//장바구니
						const cartForm = $("<form>");
						if(member.memberGrade != "관리자"){
							cartForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							cartForm.attr("action","#");
						}
						
						cartForm.attr("method","get");
						cartForm.attr("style","width:40px;");
						
						const cartDiv =$("<div>");
						cartDiv.addClass("product_cart");
						cartDiv.attr("style","width:25px;");
						//매장명input
						const input3 =$("<input>");
						input3.attr("type","hidden");
						input3.attr("name","shopName");
						input3.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						cartDiv.append(input3);
						
						//상품번호 input
						const input4 =$("<input>");
						input4.attr("type","submit");
						input4.attr("name","productNo");
						input4.attr("value",product.productNo);
						input4.attr("id",idNum);
						//
						cartDiv.append(input4);
						//input2 에 대한 label
						const label4 = $("<label>");
						label4.attr("for",idNum);
						idNum++;
						//cart icon
						const cartIconSpan = $("<span>")
						cartIconSpan.addClass("material-icons");
						cartIconSpan.text("add_shopping_cart");
						label4.append(cartIconSpan);
						cartDiv.append(label4);
						//장바구니 버튼 form안에 넣기 완료
						cartForm.append(cartDiv);
						//장바구니 form icon div 에 넣기
						iconDiv.append(cartForm);
						
						//가격
						const priceTextDiv = $("<div>");
						priceTextDiv.addClass("price_text_div");
						priceTextDiv.attr("style", "width:95px; height:30px; color:var(--main4); float:left; textAlign: center; fontWeight:bold;");
						
						const priceText = $("<span>")
						priceText.addClass("price_text_span");
						priceText.attr("style"," width:95px;");
						priceText.attr("style","color:var(--main5)");
						priceText.text(product.productPrice+" 원");
						priceTextDiv.append(priceText);
						
						iconDiv.append(priceTextDiv);
						
						
						div.append(iconDiv);
						
						//최종->li에 넣기
						li.append(div);
						
						
						//ul에 반복문 넣기
						$(".product_list_wrap_ul").append(li);
					}
				
					
					
					
	
					
					
					
					
					
					
				$(".goods_li").on("click",function(){
						
					$(".product_one_wrap").css("display","none");

					
					const list = [[${allList}]];
					
					
					for(let i=0;i<list.length;i++){
						console.log("for문 시작");
						const product = list[i];
						console.log(product);
						
						const li = $("<li>");
						li.addClass("product_one_wrap");
						
						const div =$("<div>");
						div.addClass("product_one_box");
						
						const divManagerBtn =$("<div>");
						divManagerBtn.addClass("product_manager_btn");
						
						
						//대표상품 아이콘
						for(let j=0;j<bestList.length;j++){
							const best = bestList[j];
							if(best.productNo == product.productNo){
								const bestDiv =$("<div>");
								bestDiv.addClass("best_div");
								bestDiv.attr("style", "width:115px; height:30px; color:var(--main4); float:left;");
						
								const bestIconSpan1 = $("<span>")
								bestIconSpan1.addClass("material-icons");
								bestIconSpan1.addClass("best_icon");
								bestIconSpan1.text("star");
								bestDiv.append(bestIconSpan1);
								
								const bestText = $("<span>")
								bestText.addClass("best_text");
								bestText.attr("style","fontWeight:600");
								bestText.attr("style","color:var(--main4)");
								bestText.text("대표상품");
								bestDiv.append(bestText);
								
								const bestIconSpan2 = $("<span>")
								bestIconSpan2.addClass("material-icons");
								bestIconSpan2.addClass("best_icon");
								bestIconSpan2.text("star");
								bestDiv.append(bestIconSpan2);
								
								divManagerBtn.prepend(bestDiv);
					
								break;
							
							}
						}
						
						
						if(member.memberGrade == "관리자"){
						
						//수정btn
						const updateForm = $("<form>");
						updateForm.attr("action","/product/productUpdateFrm");
						updateForm.attr("method","get");
						updateForm.attr("value",product.productNo);
						
						const updateInput = $("<input>");
						updateInput.attr("type","hidden");
						updateInput.attr("value",product.productNo);
						updateInput.attr("id",idNum);
						updateInput.attr("name","productNo");
						
						const updateLabel=$("<label>");
						updateLabel.attr("for",idNum);
						idNum++;
						
						const updateButton =$("<button>");
						updateButton.addClass("btn");
						updateButton.attr("type","submit");
						updateButton.text("수정");
						
						//
						updateForm.append(updateInput);
						
						//					
						updateLabel.append(updateButton);
						updateForm.append(updateLabel);
						divManagerBtn.append(updateForm);
						
						//삭제btn
						const deleteForm = $("<form>");
						deleteForm.attr("action","/product/productDelete");
						deleteForm.attr("method","get");
						deleteForm.attr("value",product.productNo);
						
						const deleteInput = $("<input>");
						deleteInput.attr("type","hidden");
						deleteInput.attr("value",product.productNo);
						deleteInput.attr("id",idNum);
						deleteInput.attr("name","productNo");
						
						const deleteLabel=$("<label>");
						deleteLabel.attr("for",idNum);
						idNum++;
						
						const deleteButton =$("<button>");
						deleteButton.addClass("btn");
						deleteButton.attr("type","submit");
						deleteButton.text("삭제");
						//
						deleteForm.append(deleteInput);
						
						//
						deleteLabel.append(deleteButton);
						deleteForm.append(deleteLabel);
						divManagerBtn.append(deleteForm);
						}
						//--관리자버튼 완성(divonebox)
						div.append(divManagerBtn);
						
						
						//현우님 order가는 form
						const imgForm = $("<form>");
						if(member.memberGrade != "관리자"){
							imgForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							imgForm.attr("action","#");
						}
						imgForm.attr("method","get");
						
						
						//매장명input
						const input1 =$("<input>");
						input1.attr("type","hidden");
						input1.attr("name","shopName");
						input1.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						imgForm.append(input1);
						
						//상품번호 input
						const input2 =$("<input>");
						input2.attr("type","submit");
						input2.attr("name","productNo");
						input2.attr("value",product.productNo);
						input2.attr("id",idNum);
						//
						imgForm.append(input2);
						//input2 에 대한 label
						const label2 = $("<label>");
						label2.attr("for",idNum);
						idNum++;
						
						const imgBoxDiv = $("<div>");
						imgBoxDiv.addClass("product_img_box");
						
						const img = $("<img>");
						img.attr("src","/product/"+product.productImg);
						//
						imgBoxDiv.append(img);
						
						const contentBoxDiv=$("<div>");
						contentBoxDiv.addClass("product_content_box");
						
						const h3 =$("<h3>");
						h3.text(product.productName);
						contentBoxDiv.append(h3);
						if(product.productTitle=="goods"){
							const p1=$("<p>");
							p1.text(product.productContentPresent);
							contentBoxDiv.append(p1);
						}else{
							const p2=$("<p>");
							p2.text("칼로리 : ");
							const span2=$("<span>");
							span2.text(product.productContentKcal+"kcal");
							p2.append(span2);
							contentBoxDiv.append(p2);
							
							const p3=$("<p>");
							p3.text("카페인 : ");
							const span3=$("<span>");
							span3.text(product.productContentShot+"g");
							p3.append(span3);
							contentBoxDiv.append(p3);
							
							const p4=$("<p>");
							p4.text("당 : ");
							const span4=$("<span>");
							span4.text(product.productContentSugar+"g");
							p4.append(span4);
							contentBoxDiv.append(p4);
							
							const p5=$("<p>");
							p5.text("나트륨 : ");
							const span5=$("<span>");
							span5.text(product.productContentNatrium+"g");
							p5.append(span5);
							contentBoxDiv.append(p5);
							
							const p6=$("<p>");
							p6.text("단백질 : ");
							const span6=$("<span>");
							span6.text(product.productContentProtein+"g");
							p6.append(span6);
							contentBoxDiv.append(p6);
						}
						
						imgBoxDiv.append(contentBoxDiv);
						label2.append(imgBoxDiv);
						imgForm.append(label2);
						div.append(imgForm);
						//위에까지가 product_one_box안에 매니저 수정 삭제 버튼 넣고/ 상품 박스까지 넣어둠
						
						
						//아래부터는 아이콘
						const iconDiv =$("<div>");
						iconDiv.addClass("product_icon");
						
						//장바구니
						const cartForm = $("<form>");
						if(member.memberGrade != "관리자"){
							cartForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							cartForm.attr("action","#");
						}
						
						cartForm.attr("method","get");
						cartForm.attr("style","width:40px;");
						
						const cartDiv =$("<div>");
						cartDiv.addClass("product_cart");
						cartDiv.attr("style","width:25px;");
						//매장명input
						const input3 =$("<input>");
						input3.attr("type","hidden");
						input3.attr("name","shopName");
						input3.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						cartDiv.append(input3);
						
						//상품번호 input
						const input4 =$("<input>");
						input4.attr("type","submit");
						input4.attr("name","productNo");
						input4.attr("value",product.productNo);
						input4.attr("id",idNum);
						//
						cartDiv.append(input4);
						//input2 에 대한 label
						const label4 = $("<label>");
						label4.attr("for",idNum);
						idNum++;
						//cart icon
						const cartIconSpan = $("<span>")
						cartIconSpan.addClass("material-icons");
						cartIconSpan.text("add_shopping_cart");
						label4.append(cartIconSpan);
						cartDiv.append(label4);
						//장바구니 버튼 form안에 넣기 완료
						cartForm.append(cartDiv);
						//장바구니 form icon div 에 넣기
						iconDiv.append(cartForm);
						
						//가격
						const priceTextDiv = $("<div>");
						priceTextDiv.addClass("price_text_div");
						priceTextDiv.attr("style", "width:95px; height:30px; color:var(--main4); float:left; textAlign: center; fontWeight:bold;");
						
						const priceText = $("<span>")
						priceText.addClass("price_text_span");
						priceText.attr("style"," width:95px;");
						priceText.attr("style","color:var(--main5)");
						priceText.text(product.productPrice+" 원");
						priceTextDiv.append(priceText);
						
						iconDiv.append(priceTextDiv);
						
						
						div.append(iconDiv);
						
						//최종->li에 넣기
						li.append(div);
						
						
						//ul에 반복문 넣기
						$(".product_list_wrap_ul").append(li);
					}
				
				})
						
								
				
				
				
				
				//가격순 눌렀을 때
				$(".price_btn").on("click",function(){
					$(".price_btn").css("backgroundColor","var(--main3)").css("fontWeight","600").css("color","var(--gray2)");
					$(".like_btn").css("backgroundColor","var(--main1)").css("fontWeight","500").css("color","var(--gray3)");;
					$(".day_btn").css("backgroundColor","var(--main1)").css("fontWeight","500").css("color","var(--gray3)");;
					
					
					$(".product_one_wrap").css("display","none");
					
					const list =[[${priceList}]];
					
					for(let i=0;i<list.length;i++){
						console.log("for문 시작");
						const product = list[i];
						console.log(product);
						
						const li = $("<li>");
						li.addClass("product_one_wrap");
						
						const div =$("<div>");
						div.addClass("product_one_box");
						
						const divManagerBtn =$("<div>");
						divManagerBtn.addClass("product_manager_btn");
						
						
						//대표상품 아이콘
						for(let j=0;j<bestList.length;j++){
							const best = bestList[j];
							if(best.productNo == product.productNo){
								const bestDiv =$("<div>");
								bestDiv.addClass("best_div");
								bestDiv.attr("style", "width:115px; height:30px; color:var(--main4); float:left;");
						
								const bestIconSpan1 = $("<span>")
								bestIconSpan1.addClass("material-icons");
								bestIconSpan1.addClass("best_icon");
								bestIconSpan1.text("star");
								bestDiv.append(bestIconSpan1);
								
								const bestText = $("<span>")
								bestText.addClass("best_text");
								bestText.attr("style","fontWeight:600");
								bestText.attr("style","color:var(--main4)");
								bestText.text("대표상품");
								bestDiv.append(bestText);
								
								const bestIconSpan2 = $("<span>")
								bestIconSpan2.addClass("material-icons");
								bestIconSpan2.addClass("best_icon");
								bestIconSpan2.text("star");
								bestDiv.append(bestIconSpan2);
								
								divManagerBtn.prepend(bestDiv);
					
								break;
							
							}
						}
						
						
						if(member.memberGrade == "관리자"){
						
						//수정btn
						const updateForm = $("<form>");
						updateForm.attr("action","/product/productUpdateFrm");
						updateForm.attr("method","get");
						updateForm.attr("value",product.productNo);
						
						const updateInput = $("<input>");
						updateInput.attr("type","hidden");
						updateInput.attr("value",product.productNo);
						updateInput.attr("id",idNum);
						updateInput.attr("name","productNo");
						
						const updateLabel=$("<label>");
						updateLabel.attr("for",idNum);
						idNum++;
						
						const updateButton =$("<button>");
						updateButton.addClass("btn");
						updateButton.attr("type","submit");
						updateButton.text("수정");
						
						//
						updateForm.append(updateInput);
						
						//					
						updateLabel.append(updateButton);
						updateForm.append(updateLabel);
						divManagerBtn.append(updateForm);
						
						//삭제btn
						const deleteForm = $("<form>");
						deleteForm.attr("action","/product/productDelete");
						deleteForm.attr("method","get");
						deleteForm.attr("value",product.productNo);
						
						const deleteInput = $("<input>");
						deleteInput.attr("type","hidden");
						deleteInput.attr("value",product.productNo);
						deleteInput.attr("id",idNum);
						deleteInput.attr("name","productNo");
						
						const deleteLabel=$("<label>");
						deleteLabel.attr("for",idNum);
						idNum++;
						
						const deleteButton =$("<button>");
						deleteButton.addClass("btn");
						deleteButton.attr("type","submit");
						deleteButton.text("삭제");
						//
						deleteForm.append(deleteInput);
						
						//
						deleteLabel.append(deleteButton);
						deleteForm.append(deleteLabel);
						divManagerBtn.append(deleteForm);
						}
						//--관리자버튼 완성(divonebox)
						div.append(divManagerBtn);
						
						
						//현우님 order가는 form
						const imgForm = $("<form>");
						if(member.memberGrade != "관리자"){
							imgForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							imgForm.attr("action","#");
						}
						imgForm.attr("method","get");
						
						
						//매장명input
						const input1 =$("<input>");
						input1.attr("type","hidden");
						input1.attr("name","shopName");
						input1.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						imgForm.append(input1);
						
						//상품번호 input
						const input2 =$("<input>");
						input2.attr("type","submit");
						input2.attr("name","productNo");
						input2.attr("value",product.productNo);
						input2.attr("id",idNum);
						//
						imgForm.append(input2);
						//input2 에 대한 label
						const label2 = $("<label>");
						label2.attr("for",idNum);
						idNum++;
						
						const imgBoxDiv = $("<div>");
						imgBoxDiv.addClass("product_img_box");
						
						const img = $("<img>");
						img.attr("src","/product/"+product.productImg);
						//
						imgBoxDiv.append(img);
						
						const contentBoxDiv=$("<div>");
						contentBoxDiv.addClass("product_content_box");
						
						const h3 =$("<h3>");
						h3.text(product.productName);
						contentBoxDiv.append(h3);
						if(product.productTitle=="goods"){
							const p1=$("<p>");
							p1.text(product.productContentPresent);
							contentBoxDiv.append(p1);
						}else{
							const p2=$("<p>");
							p2.text("칼로리 : ");
							const span2=$("<span>");
							span2.text(product.productContentKcal+"kcal");
							p2.append(span2);
							contentBoxDiv.append(p2);
							
							const p3=$("<p>");
							p3.text("카페인 : ");
							const span3=$("<span>");
							span3.text(product.productContentShot+"g");
							p3.append(span3);
							contentBoxDiv.append(p3);
							
							const p4=$("<p>");
							p4.text("당 : ");
							const span4=$("<span>");
							span4.text(product.productContentSugar+"g");
							p4.append(span4);
							contentBoxDiv.append(p4);
							
							const p5=$("<p>");
							p5.text("나트륨 : ");
							const span5=$("<span>");
							span5.text(product.productContentNatrium+"g");
							p5.append(span5);
							contentBoxDiv.append(p5);
							
							const p6=$("<p>");
							p6.text("단백질 : ");
							const span6=$("<span>");
							span6.text(product.productContentProtein+"g");
							p6.append(span6);
							contentBoxDiv.append(p6);
						}
						
						imgBoxDiv.append(contentBoxDiv);
						label2.append(imgBoxDiv);
						imgForm.append(label2);
						div.append(imgForm);
						//위에까지가 product_one_box안에 매니저 수정 삭제 버튼 넣고/ 상품 박스까지 넣어둠
						
						
						//아래부터는 아이콘
						const iconDiv =$("<div>");
						iconDiv.addClass("product_icon");
						
						//장바구니
						const cartForm = $("<form>");
						if(member.memberGrade != "관리자"){
							cartForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							cartForm.attr("action","#");
						}
						
						cartForm.attr("method","get");
						cartForm.attr("style","width:40px;");
						
						const cartDiv =$("<div>");
						cartDiv.addClass("product_cart");
						cartDiv.attr("style","width:25px;");
						//매장명input
						const input3 =$("<input>");
						input3.attr("type","hidden");
						input3.attr("name","shopName");
						input3.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						cartDiv.append(input3);
						
						//상품번호 input
						const input4 =$("<input>");
						input4.attr("type","submit");
						input4.attr("name","productNo");
						input4.attr("value",product.productNo);
						input4.attr("id",idNum);
						//
						cartDiv.append(input4);
						//input2 에 대한 label
						const label4 = $("<label>");
						label4.attr("for",idNum);
						idNum++;
						//cart icon
						const cartIconSpan = $("<span>")
						cartIconSpan.addClass("material-icons");
						cartIconSpan.text("add_shopping_cart");
						label4.append(cartIconSpan);
						cartDiv.append(label4);
						//장바구니 버튼 form안에 넣기 완료
						cartForm.append(cartDiv);
						//장바구니 form icon div 에 넣기
						iconDiv.append(cartForm);
						
						//가격
						const priceTextDiv = $("<div>");
						priceTextDiv.addClass("price_text_div");
						priceTextDiv.attr("style", "width:95px; height:30px; color:var(--main4); float:left; textAlign: center; fontWeight:bold;");
						
						const priceText = $("<span>")
						priceText.addClass("price_text_span");
						priceText.attr("style"," width:95px;");
						priceText.attr("style","color:var(--main5)");
						priceText.text(product.productPrice+" 원");
						priceTextDiv.append(priceText);
						
						iconDiv.append(priceTextDiv);
						
						
						div.append(iconDiv);
						
						//최종->li에 넣기
						li.append(div);
						
						
						//ul에 반복문 넣기
						$(".product_list_wrap_ul").append(li);
					}
				
					
				
				
				})
				//좋아요순 눌렀을 때
				$(".like_btn").on("click",function(){
					$(".like_btn").css("backgroundColor","var(--main3)").css("fontWeight","600").css("color","var(--gray2)");
					$(".day_btn").css("backgroundColor","var(--main1)").css("fontWeight","500").css("color","var(--gray3)");
					$(".price_btn").css("backgroundColor","var(--main1)").css("fontWeight","500").css("color","var(--gray3)");;
					
				})
				//최신순 눌렸을 때
				$(".day_btn").on("click",function(){
					$(".day_btn").css("backgroundColor","var(--main3)").css("fontWeight","600").css("color","var(--gray2)");;
					$(".like_btn").css("backgroundColor","var(--main1)").css("fontWeight","500").css("color","var(--gray3)");;
					$(".price_btn").css("backgroundColor","var(--main1)").css("fontWeight","500").css("color","var(--gray3)");;
					/*
					$(".like_btn").on("mouseover",function(){
						$(".like_btn").css("backgroundColor","var(--main2)");
					})
					$(".like_btn").on("mouseout",function(){
						$(".like_btn").css("backgroundColor","var(--main1)");
					})
					$(".price_btn").on("mouseover",function(){
						$(".price_btn").css("backgroundColor","var(--main2)");
					})
					$(".like_btn").on("mouseout",function(){
						$(".like_btn").css("backgroundColor","var(--main1)");
					})*/
					
					$(".product_one_wrap").css("display","none");
					
					const list = [[${dayList}]];
					
					
					for(let i=0;i<list.length;i++){
						console.log("for문 시작");
						const product = list[i];
						console.log(product);
						
						const li = $("<li>");
						li.addClass("product_one_wrap");
						
						const div =$("<div>");
						div.addClass("product_one_box");
						
						const divManagerBtn =$("<div>");
						divManagerBtn.addClass("product_manager_btn");
						
						
						//대표상품 아이콘
						for(let j=0;j<bestList.length;j++){
							const best = bestList[j];
							if(best.productNo == product.productNo){
								const bestDiv =$("<div>");
								bestDiv.addClass("best_div");
								bestDiv.attr("style", "width:115px; height:30px; color:var(--main4); float:left;");
						
								const bestIconSpan1 = $("<span>")
								bestIconSpan1.addClass("material-icons");
								bestIconSpan1.addClass("best_icon");
								bestIconSpan1.text("star");
								bestDiv.append(bestIconSpan1);
								
								const bestText = $("<span>")
								bestText.addClass("best_text");
								bestText.attr("style","fontWeight:600");
								bestText.attr("style","color:var(--main4)");
								bestText.text("대표상품");
								bestDiv.append(bestText);
								
								const bestIconSpan2 = $("<span>")
								bestIconSpan2.addClass("material-icons");
								bestIconSpan2.addClass("best_icon");
								bestIconSpan2.text("star");
								bestDiv.append(bestIconSpan2);
								
								divManagerBtn.prepend(bestDiv);
					
								break;
							
							}
						}
						
						
						if(member.memberGrade == "관리자"){
						
						//수정btn
						const updateForm = $("<form>");
						updateForm.attr("action","/product/productUpdateFrm");
						updateForm.attr("method","get");
						updateForm.attr("value",product.productNo);
						
						const updateInput = $("<input>");
						updateInput.attr("type","hidden");
						updateInput.attr("value",product.productNo);
						updateInput.attr("id",idNum);
						updateInput.attr("name","productNo");
						
						const updateLabel=$("<label>");
						updateLabel.attr("for",idNum);
						idNum++;
						
						const updateButton =$("<button>");
						updateButton.addClass("btn");
						updateButton.attr("type","submit");
						updateButton.text("수정");
						
						//
						updateForm.append(updateInput);
						
						//					
						updateLabel.append(updateButton);
						updateForm.append(updateLabel);
						divManagerBtn.append(updateForm);
						
						//삭제btn
						const deleteForm = $("<form>");
						deleteForm.attr("action","/product/productDelete");
						deleteForm.attr("method","get");
						deleteForm.attr("value",product.productNo);
						
						const deleteInput = $("<input>");
						deleteInput.attr("type","hidden");
						deleteInput.attr("value",product.productNo);
						deleteInput.attr("id",idNum);
						deleteInput.attr("name","productNo");
						
						const deleteLabel=$("<label>");
						deleteLabel.attr("for",idNum);
						idNum++;
						
						const deleteButton =$("<button>");
						deleteButton.addClass("btn");
						deleteButton.attr("type","submit");
						deleteButton.text("삭제");
						//
						deleteForm.append(deleteInput);
						
						//
						deleteLabel.append(deleteButton);
						deleteForm.append(deleteLabel);
						divManagerBtn.append(deleteForm);
						}
						//--관리자버튼 완성(divonebox)
						div.append(divManagerBtn);
						
						
						//현우님 order가는 form
						const imgForm = $("<form>");
						if(member.memberGrade != "관리자"){
							imgForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							imgForm.attr("action","#");
						}
						imgForm.attr("method","get");
						
						
						//매장명input
						const input1 =$("<input>");
						input1.attr("type","hidden");
						input1.attr("name","shopName");
						input1.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						imgForm.append(input1);
						
						//상품번호 input
						const input2 =$("<input>");
						input2.attr("type","submit");
						input2.attr("name","productNo");
						input2.attr("value",product.productNo);
						input2.attr("id",idNum);
						//
						imgForm.append(input2);
						//input2 에 대한 label
						const label2 = $("<label>");
						label2.attr("for",idNum);
						idNum++;
						
						const imgBoxDiv = $("<div>");
						imgBoxDiv.addClass("product_img_box");
						
						const img = $("<img>");
						img.attr("src","/product/"+product.productImg);
						//
						imgBoxDiv.append(img);
						
						const contentBoxDiv=$("<div>");
						contentBoxDiv.addClass("product_content_box");
						
						const h3 =$("<h3>");
						h3.text(product.productName);
						contentBoxDiv.append(h3);
						if(product.productTitle=="goods"){
							const p1=$("<p>");
							p1.text(product.productContentPresent);
							contentBoxDiv.append(p1);
						}else{
							const p2=$("<p>");
							p2.text("칼로리 : ");
							const span2=$("<span>");
							span2.text(product.productContentKcal+"kcal");
							p2.append(span2);
							contentBoxDiv.append(p2);
							
							const p3=$("<p>");
							p3.text("카페인 : ");
							const span3=$("<span>");
							span3.text(product.productContentShot+"g");
							p3.append(span3);
							contentBoxDiv.append(p3);
							
							const p4=$("<p>");
							p4.text("당 : ");
							const span4=$("<span>");
							span4.text(product.productContentSugar+"g");
							p4.append(span4);
							contentBoxDiv.append(p4);
							
							const p5=$("<p>");
							p5.text("나트륨 : ");
							const span5=$("<span>");
							span5.text(product.productContentNatrium+"g");
							p5.append(span5);
							contentBoxDiv.append(p5);
							
							const p6=$("<p>");
							p6.text("단백질 : ");
							const span6=$("<span>");
							span6.text(product.productContentProtein+"g");
							p6.append(span6);
							contentBoxDiv.append(p6);
						}
						
						imgBoxDiv.append(contentBoxDiv);
						label2.append(imgBoxDiv);
						imgForm.append(label2);
						div.append(imgForm);
						//위에까지가 product_one_box안에 매니저 수정 삭제 버튼 넣고/ 상품 박스까지 넣어둠
						
						
						//아래부터는 아이콘
						const iconDiv =$("<div>");
						iconDiv.addClass("product_icon");
						
						//장바구니
						const cartForm = $("<form>");
						if(member.memberGrade != "관리자"){
							cartForm.attr("action","/order/Orderoption");						
						}else if(member.memberGrade == "관리자"){
							cartForm.attr("action","#");
						}
						
						cartForm.attr("method","get");
						cartForm.attr("style","width:40px;");
						
						const cartDiv =$("<div>");
						cartDiv.addClass("product_cart");
						cartDiv.attr("style","width:25px;");
						//매장명input
						const input3 =$("<input>");
						input3.attr("type","hidden");
						input3.attr("name","shopName");
						input3.attr("value",[[${shopName}]]);
						//현우님 매장명 input 완성
						cartDiv.append(input3);
						
						//상품번호 input
						const input4 =$("<input>");
						input4.attr("type","submit");
						input4.attr("name","productNo");
						input4.attr("value",product.productNo);
						input4.attr("id",idNum);
						//
						cartDiv.append(input4);
						//input2 에 대한 label
						const label4 = $("<label>");
						label4.attr("for",idNum);
						idNum++;
						//cart icon
						const cartIconSpan = $("<span>")
						cartIconSpan.addClass("material-icons");
						cartIconSpan.text("add_shopping_cart");
						label4.append(cartIconSpan);
						cartDiv.append(label4);
						//장바구니 버튼 form안에 넣기 완료
						cartForm.append(cartDiv);
						//장바구니 form icon div 에 넣기
						iconDiv.append(cartForm);
						
						//가격
						const priceTextDiv = $("<div>");
						priceTextDiv.addClass("price_text_div");
						priceTextDiv.attr("style", "width:95px; height:30px; color:var(--main4); float:left; textAlign: center; fontWeight:bold;");
						
						const priceText = $("<span>")
						priceText.addClass("price_text_span");
						priceText.attr("style"," width:95px;");
						priceText.attr("style","color:var(--main5)");
						priceText.text(product.productPrice+" 원");
						priceTextDiv.append(priceText);
						
						iconDiv.append(priceTextDiv);
						
						/*
						//like icon
						
						const likeIconDiv = $("<div>");
						likeIconDiv.addClass("product_like");
						likeIconDiv.attr("style","width:200px");
						const likeUl = $("<ul>");
						
						const likeLi = $("<li>");
						const likeP = $("<p>");
						likeP.attr("style","flot:rigth;");
						
						const likeIconSpan1 = $("<span>")
						likeIconSpan1.addClass("material-icons");
						likeIconSpan1.addClass("unlike_icon likeIconSpan1");
						likeIconSpan1.text("favorite_border");
						
						
						const likeIconSpan2 = $("<span>")
						likeIconSpan2.addClass("material-icons");
						likeIconSpan2.addClass("unlike_icon");
						likeIconSpan2.text("favorite_border");
						likeIconSpan1.append(likeIconSpan2);
						
						const likeIconSpan3 = $("<span>")
						likeIconSpan3.addClass("material-icons");
						likeIconSpan3.addClass("like_icon");
						likeIconSpan3.text("favorite");
						likeIconSpan1.append(likeIconSpan3);
						
						const likeCount = $("<span>")
						likeCount.addClass("like_count");
						likeCount.text("좋아요 수");
						likeIconSpan1.append(likeCount);
						
						likeP.append(likeIconSpan1);
						likeLi.append(likeP);
						likeUl.append(likeLi);
						likeIconDiv.append(likeUl);
						
						//좋아요 div icon div 에 넣기에 넣기
						iconDiv.append(likeIconDiv);*/
						//div_one_box에 넣기
						div.append(iconDiv);
						
						//최종->li에 넣기
						li.append(div);
						
						
						//ul에 반복문 넣기
						$(".product_list_wrap_ul").append(li);
					}
				})
				
				
				//기본페이지 탭 디저트
				$(".goods_li").css("backgroundColor", "var(--main5)").css("borderTop","3px solid var(--main4)").css("borderBottom","none");
				$(".goods_a").css("color", "white");
				

				//전체 탭 클릭
				$(".goods_li").on("click", function(){
					//디저트 탭 색상 변경 및 상품 출력
			
					$(".product_title_main").css("backgroundColor", "var(--main1)").css("borderTop","2px solid var(--main3)").css("borderBottom","2px solid var(--main3)");
					$(".product_title_main_a").css("color", "var(--main5)");
					$(".drink_li").css("color", "var(--main5)");
					$(".goods_li").css("backgroundColor", "var(--main5)").css("borderTop","3px solid var(--main4)").css("borderBottom","none");
					$(".goods_a").css("color", "white");
					
					
					$(".product_all_list").on("mouseover",function(){
						$(".product_all_list").css("backgroundColor", "var(--main2)").css("borderTop","3px solid var(--main5)").css("borderBottom","none");
						$(".product_all_list_a").css("borderBottom","none");
					})
					$(".product_all_list").on("mouseout",function(){
						$(".product_all_list").css("backgroundColor", "var(--main1)").css("borderTop","2px solid var(--main3)").css("borderBottom","2px solid var(--main3)");
						$(".product_all_list_a").css("color", "var(--main5)");
					})
					$(".dessert_li").on("mouseover",function(){
						$(".dessert_li").css("backgroundColor", "var(--main2)").css("borderTop","3px solid var(--main5)").css("borderBottom","none");
						$(".dessert_a").css("borderBottom","none");
					})
					$(".dessert_li").on("mouseout",function(){
						$(".dessert_li").css("backgroundColor", "var(--main1)").css("borderTop","2px solid var(--main3)").css("borderBottom","2px solid var(--main3)");
						$(".dessert_a").css("color", "var(--main5)");
					})
					$(".drink_li").on("mouseover",function(){
						$(".drink_li").css("backgroundColor", "var(--main2)").css("borderTop","3px solid var(--main5)").css("borderBottom","none");
					})
					$(".drink_li").on("mouseout",function(){
						$(".drink_li").css("backgroundColor", "var(--main1)").css("borderTop","2px solid var(--main3)").css("borderBottom","2px solid var(--main3)").css("color", "var(--main5)");
					})
					
					
					
					
				
				
				})
				
				
				
		</script>
		<div id="pageNavi" th:utext="${pageNavi}"></div>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>