<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/product.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
		<!--카테고리-->
	<div class="wrap">
		<div class="product_wrap">
			<div class="product_title_wrap">
				<ul class="product_title">
					<li class="product_title_main"><a href="#">전체상품</a></li>
					<li class="product_title_main product_drink">음료
						<div class="product_title_list">
							<ul class="product_title_ice">
								<li>ICE
									<ul>
										<li><a href="#">커피</a></li>
										<li><a href="#">차</a></li>
										<li><a href="#">그 외 제조음료</a></li>
									</ul>
								</li>
							</ul>
							<ul class="product_title_hot">
								<li>HOT
									<ul>
										<li><a href="#">커피</a></li>
										<li><a href="#">차</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</li>
					<li class="product_title_main"><a href="#">디저트</a></li>
					<li class="product_title_main"><a href="#">굿즈</a></li>
				</ul>
			</div>
			
			<div class="product_new_wrap">
				<!--출력순 버튼-->
				<div class="product_list_btn">
					<button class="btn product_btn">가격순</button>
					<button class="btn product_btn">최신순</button>
					<button class="btn product_btn">좋아요순</button>
				</div>
			
				<!--e(관리자버튼)메뉴 추가 -->
				<!-- 메뉴추가 페이지로 이동->페이지에서 form으로 controller -->
				<div class="product_insert_btn">
					<button class="btn"><a href="/product/productInsertFrm">메뉴 추가</a></button>
				</div>
			</div>	
				
			<!-- 이미지  -->
				<div class="product_list_wrap">
					<ul class="product_list_wrap_ul">
						<!-- [js]for문-대표 상품 리스트 -->
						<li class="product_one_wrap" th:each="product : ${list}">
							<div class="product_one_box">
								<div class="product_manager_btn">
									<form action="#">
									<!-- 수정 페이지로 이동<a class="btn-primary" th:href="@{/notice/updateFrm(noticeNo=${n.noticeNo})}">수정</a> <!-- updateFrm 생성 noticeNo에 해당하는 정보 수정 --> 
										<input type="submit" class="product_update_btn" name="product_no" id="product_no" th:value="${product.productNo}">
										<label for="product_no">
											<button class="btn">수정</button>
										</label>
									</form>
									<form action="#"><!-- 삭제 controller 페이지로 이동(삭제 후 해당 페이지로)-->
										<input type="submit" class="product_delete_btn" name="product_no" id="product_no" th:value="${product.productNo}">
										<label for="product_no">
											<button class="btn">삭제</button>
										</label>
									</form>
								</div>
								<!-- 클릭 시, 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)-->
								<form action="/order/Orderoption" method="get" id="">
									<!-- 자명님 주소값 보내는게 없어서 밑에 한줄만 추가했습니다! -전인턴- -->
									<input type="hidden" name="shopName" th:value="${shopName}">
									<input type="submit" class="product" name="productNo" id="product_no1" th:value="${product.productNo}">	
									<label for="product_no1">
										<div class="product_img_box">
										
											<!-- img 스크립트 걸어둠 
											<img src="/img/product/음료/아이스/커피/아메리카노.jpg">
											-->
											<!-- DB에서 들고올거 -->
											<div class="product_content_box">
												<h3 th:text="${product.productName}"></h3>
												<p>칼로리 : <span th:text="${product.productContentKcal}"></span> kcal</p>
												<p>카페인 : <span th:text="${product.productContentShot}"></span> g</p>
												<p>당 : <span th:text="${product.productContentSugar}"></span> g</p>
												<p>나트륨 : <span th:text="${product.productContentNatrium}"></span> g</p>
												<p>단백질 :<span th:text="${product.productContentProtein}"></span> g</p>
											</div>
										</div>	
									</label>
								</form>
							   	 <!-- e[관리자,회원,비회원] -->
								<div class="product_icon">
									<!-- 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)-->
									<form action="/order/Orderoption" method="get" id="">
										<div class="product_cart">
											<input type="hidden" name="shopName" th:value="${shopName}">
											<input type="submit" class="product" name="productNo" id="product_no1" th:value="${product.productNo}">
											<!-- 
												<input type="submit" class="product_cart" name="product_no" id="product_no2">
											 -->	
											<label for="product_no2">
												<span class="material-icons">add_shopping_cart</span>
											</label>
										</div>
									</form>
									<!-- e[회원-좋아요 기능] -->
									<div class="product_like">
										<ul>
											<li>
												<p>
													<span class="material-icons unlike_icon">favorite_border
														<span class="material-icons unlike_icon">favorite_border</span>
														<span class="material-icons like_icon">favorite</span>
														<span class="like_count">좋아요 수</span>
													</span>
												</p>
											</li>
										</ul>
										
									</div>
								</div>							
							</div>
						</li>
						
						
						<!--
						<!-- [js]for문-상품 리스트 했는데 안됨. 자바스크립트로 다시 만들어야 할 수도(이미지 땜시
						<li class="product_one_wrap" th:each="product : ${list}">
							<div class="product_one_box">
								<div class="product_manager_btn">
									<form action="#">
									<!-- 수정 페이지로 이동<a class="btn-primary" th:href="@{/notice/updateFrm(noticeNo=${n.noticeNo})}">수정</a> <!-- updateFrm 생성 noticeNo에 해당하는 정보 수정 
										<input type="submit" class="product_update_btn" name="product_no" id="product_no" >
										<label for="product_no">
											<button class="btn">수정</button>
										</label>
									</form>
									<form action="#"><!-- 삭제 controller 페이지로 이동(삭제 후 해당 페이지로)
										<input type="submit" class="product_delete_btn" name="product_no" id="product_no">
										<label for="product_no">
											<button class="btn">삭제</button>
										</label>
									</form>
								</div>
								<!-- 클릭 시, 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)
								<form action="/order/Orderoption" method="get" id="">
									<input type="submit" class="product" name="productNo" id="product_no1" value="1">	
									<label for="product_no1">
										<div class="product_img_box">
										
										
											<img  src="/img/product/1.jpg">
											<!-- DB에서 들고올거 
											<div class="product_content_box">
												<h3>product_name</h3>
												<p>칼로리 : <p th:text="${product.productContentKcal}"></p>kcal</p>
												<p>카페인 : <p th:text="${product.productContentShot}"></p> g</p>
												<p>당 : <p th:text="${product.productContentSugar}"></p> g</p>
												<p>나트륨 : <p th:text="${product.productContentNatrium}"></p> g</p>
												<p>단백질 : <p th:text="${product.productContentProtein}"></p> g</p>
											</div>
										</div>	
									</label>
								</form>
							   	 <!-- e[관리자,회원,비회원] 
								<div class="product_icon">
									<!-- 장바구니 controller로 이동 (매장명, 회원 아이디, 상품정보 전달)
									<form action="/order/Orderoption" method="get" id="">
										<div class="product_cart">
											<input type="submit" class="product_cart" name="product_no" id="product_no2">	
											<label for="product_no2">
												<span class="material-icons">add_shopping_cart</span>
											</label>
										</div>
									</form>
									<!-- e[회원-좋아요 기능] 
									<div class="product_like">
										<ul>
											<li>
												<p>
													<span class="material-icons unlike_icon">favorite_border
														<span class="material-icons unlike_icon">favorite_border</span>
														<span class="material-icons like_icon">favorite</span>
														<span class="like_count">좋아요 수</span>
													</span>
												</p>
											</li>
										</ul>
										
									</div>
								</div>							
							</div>
						</li>
						  -->

						
					</ul>
				</div>	
			</div>
		</div>
		
		
		<script th:inline="javascript">
			const reqPage=[[${reqPage}]];
			console.log(reqPage);
			const shopName=[[${shopName}]];
			console.log(shopName);	
			
			$.ajax({
				url : "/product/productList",
				type : "get",
				data : {reqPage :reqPage , shopName : shopName},
				success : function(data){
					console.log("성공");
					
					let idNum = 1;
					for(let i=0;i>data.length;i++){
						const product = data[i];
						
						const li = $("<li>");
						li.addClass("product_one_wrap");
						
						const div =$("<div>");
						div.addClass("product_one_box");
						
						const divManaberBtn =$("<div>");
						divManaberBtn.addClass("product_manager_btn");
						
						
						//수정btn
						const updateForm = $("form");
						updateFrom.attr =("action","productUpdate");
						updateFrom.attr =("method","get");
						updateFrom.attr =("value",product.productNo);
						
						const updateInput = $("<input>");
						updateInput.attr("type","submit");
						updateInput.attr("value",product.productNo);
						updateInput.attr("id",idNum);
						updateInput.attr("name","product_no");
						
						const updateLabel=$("label");
						updateLable.attr("for",idNum);
						idNum++;
						
						const updateButton =$("<button>");
						updateButton.addClass("btn");
						updateButton.text("수정");
						
						//
						updateForm.append(updateInput);
						divManaberBtn.append(updateForm);
						//					
						updateLabel.append(updateButton);
						updateForm.append(updateLabel);
						divManaberBtn.append(updateForm);
						
						//삭제btn
						const deleteForm = $("form");
						deleteFrom.attr =("action","productDelete");
						deleteFrom.attr =("method","get");
						deleteFrom.attr =("value",product.productNo);
						
						const deleteInput = $("<input>");
						deleteInput.attr("type","submit");
						deleteInput.attr("value",product.productNo);
						deleteInput.attr("id",idNum);
						deleteInput.attr("name","product_no");
						
						const deleteLabel=$("label");
						deleteLable.attr("for",idNum);
						idNum++;
						
						const deleteButton =$("<button>");
						deleteButton.addClass("btn");
						deleteButton.text("삭제");
						//
						deleteForm.append(deleteInput);
						divManaberBtn.append(deleteForm);
						//
						deleteLabel.append("deleteButton");
						deleteForm.append(deleteLabel);
						divManaberBtn.append(deleteForm);
					
						//--관리자버튼 완성(divonebox)
						div.append(divManagerBtn);
						
						//현우님 order가는 form
						const imgForm = $("<form>");
						imgForm.attr("action","/order/Orderoptoin");
						imgForm.attr("method","get");
						
						//매장명input
						const input1 =$("<input>");
						input1.attr("type","hidden");
						input1.attr("name","shopName");
						input1.attr("value",shopName);
						//현우님 매장명 input 완성
						imgForm.append(input1);
						
						//상품번호 input
						const input2 =$("<input>");
						input2.attr("type","hidden");
						input2.attr("name","productNo");
						input2.attr("value",productNo);
						input2.attr("id",idNum);
						//
						imgForm.append(input2);
						//input2 에 대한 label
						const label2 = $("<label>");
						label2.attr("for",idNum);
						idNum++;
						
						const imgBoxDiv = $("<div>");
						imgBoxDiv.addClass("product_img_box");
						
						const img = $("<img>");
						img.attr("src","/product/"+product.productImg);
						//
						imgBoxDiv.append(img);
						
						const contentBoxDiv=$("<div>");
						contentBoxDiv.addClass("product_content_box");
						
						const h3 =$("<h3>");
						h3.text(product.productName);
						contentBoxDiv.append(h3);
						if(productTitle.equals(goods)){
							const p1=$("<p>");
							p1.text(product.productContentPresent);
							contentBoxDiv.append(p1);
						}else{
							const p2=$("<p>");
							p2.text("칼로리 : ");
							const span2=$("<span>");
							span2.text(product.productContentKcal+"kcal");
							p2.append(span2);
							contentBoxDiv.append(p2);
							
							const p3=$("<p>");
							p3.text("카페인 : ");
							const span3=$("<span>");
							span3.text(product.productContentShot+"g");
							p3.append(span3);
							contentBoxDiv.append(p3);
							
							const p4=$("<p>");
							p4.text("당 : ");
							const span4=$("<span>");
							span4.text(product.productContentSugar+"g");
							p4.append(span4);
							contentBoxDiv.append(p4);
							
							const p5=$("<p>");
							p5.text("나트륨 : ");
							const span5=$("<span>");
							span5.text(product.productContentNatrium+"g");
							p5.append(span5);
							contentBoxDiv.append(p5);
							
							const p6=$("<p>");
							p6.text("단백질 : ");
							const span6=$("<span>");
							span5.text(product.productContentProtein+"g");
							p6.append(span6);
							contentBoxDiv.append(p6);
						}
						imgBoxDiv.append(contentBoxDiv);
						label2.append(imgBoxDiv);
						div.append(imgform);
						//위에까지가 product_one_box안에 매니저 수정 삭제 버튼 넣고/ 상품 박스까지 넣어둠
						//
					}
					
					
					//상품 이미지
						let count =0;
						const product= data[count];
						const img = $("<img>");
						img.attr("src","/product/"+product.productImg)
						
						$(".product_img_box").append(img);
						count++;
				
				},
				error : function(){
					console.log("에러");
				}
			})
		</script>
	<th:block th:include="common/footer"></th:block>
</body>
</html>