<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" href="/DrumtongCss/productInsert.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">

</head>
<body>
	<th:block th:include="/common/header"></th:block>
	<div class="productInsert_wrap">
		<div class="productInsert_title_wrap">
			<h1>상품  등록</h1>
		</div>

		<!--e버튼에 따라 카테고리 상세, 상세정보 다름-->
		<div class="productInsert_title_btn">
			<button class="btn title_drink_btn">음료</button>
			<button class="btn title_dessert_btn">디저트</button>
			<button class="btn title_goods_btn">굿즈</button>
		</div>
	</div>
</body>
</html>