<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link rel="stylesheet" href="/DrumtongCss/Cart.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
   <th:block th:include="/common/header"></th:block>
	
    <div class="cart-mainbox">
        <div class="cart-namebox">
            <div class="cart-name">
               <h2>장바구니</h2>
            </div>
            <div class="cart-check">
                <button class="delete-btn">선택삭제</button>
            </div>
        </div>
        <div class="cart-box">
            <div class="cart-listbox">
                <ul class="cartlist"th:each="list : ${list}">
                    <li>
                        <div class="cart-listheader">
                                <button class="button-icons"><span class="material-icons">check_circle_outline</span></button>
                        			<span class="shop-name" th:text="${list.shopName}"></span>
                        			<input type="hidden" class="cart-no" th:value="${list.cartNo}">
                        </div>
                        
                        <div class="cart-listbody">
                            <div class="cart-imgbox">
                                <img src="img/로고 (1) 1.svg" alt="" class="cart-img">
                            </div>
                            <div class="list-infobox">
                                <div class="info-top">
                                    <span class="item-name" th:text="${list.productName}"></span>
                                    <div class="quantity-box">
                                        <span class="quantity" th:text="${list.count}"></span>
                                        <span>개</span>
                                    </div>
                                    <div class=quantity-box2>
                                    <span class="item-price" th:text="${list.pay}"></span>
                                    <span>원</span>
                                    </div>
                                </div>
                                <span class="hidden-title" th:text="${list.productTitle}" style="display:none;"></span>
                                <div class="item-option">
                                    <div class="option-top">
                                        <span class="size">사이즈 : </span><span class="size-count" th:text="${list.cupSize}"></span>
                                        <span class="cup">컵 : </span><span class="cup-type" th:text="${list.cupChoice}"></span>
                                    	    <span class="heat">데우기 : </span><span class="heat-check"></span>
                                    </div>
                                    <div class="option-bottom">
                                        <span class="shot">샷추가 : </span><span class="shot-count" th:text="${list.cupShot}"></span>
                                        <span class="cream">휘핑크림 : </span><span class="cream-count" th:text="${list.cupCream}"></span>
                                    </div>
                                </div>
                                <div class="info-bottom">
                                    <span class="sale">등급할인</span>
                                </div>
                            </div>
                        </div>
                        <div class="cart-listfooter">
                            <div class="footer-pricebox">
                                <div class="price-row">
                                <span class="label-price">상품금액</span>
                                <div class="value-box">
    							<span class="product-price"th:text="${list.pay}"></span>
   								 <span class="unit">원</span>
  								</div>
                                </div>
                                <span class="operator">-</span>
                                <div class="price-row">
                                <span class="label-price">할인금액</span>
                                <div class="value-box">
							    <span class="discount-price"th:text="${list.discountPrice}"></span>
							    <span class="unit">원</span>
							  	</div>
                             </div>
                                <span class="operator">=</span>
                                <div class="price-row total">
                                <span class="label-price">주문금액</span>
                                 <div class="value-box">
								    <span class="order-price"th:text="${list.pay} - ${list.discountPrice}"></span>
								    <span class="unit">원</span>
								  </div>
                             </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
           <div class="cart-pricebox">
                <div class="price-summary">
                    <h3>결제정보</h3>
                        <hr>
                    <div class="summary-row">
				      <span class="label">전체수량</span>
				      <span class="value">
				        <span class="total-count"></span>
				        <span class="unit">개</span>
				      </span>
				    </div>
				
				    <div class="summary-row">
				      <span class="label">상품총합</span>
				      <span class="value">
				        <span class="product-totalprice"></span>
				        <span class="unit">원</span>
				      </span>
				    </div>
				    <div class="summary-row">
				      <span class="label">할인총합</span>
				      <span class="value">
				        -<span class="total-discount"></span>
				        <span class="unit">원</span>
				      </span>
				    </div>
				     <hr>
					    <div class="summary-row total">
					      <span class="label">총 결제금액</span>
					      <span class="value">
					        <span class="total-price"></span>
					        <span class="unit">원</span>
					      </span>
    					</div>
                  </div>
                  <div class="buy-btnbox">
    				
					<input type="hidden" name="shopName" id="shopName" th:value="${shopName}">
                    <button class="buy-btn">구매하기</button>

                  </div>
                </div>
            </div>
        </div>
    </div>

	
	
	<script th:inline="javascript">

	let list = [[${list}]];
	//상품총합
	let totalProduct = Number($(".product-totalprice").text());
	//상품수량총합
	let totalCount = Number($(".total-count").text());
	//할인총합
	let totalDiscount = Number($(".total-discount").text());
	//총 결제금액
	let totalpay = Number($(".total-price").text());
	
	
	
	
	list.forEach(function(item){
		
		totalProduct += (item.pay);
		totalCount += (item.count);
		totalDiscount += (item.discountPrice);
		
	});
	
	totalpay = totalProduct - totalDiscount;
			
		
	$(".total-count").text(totalCount);
	$(".product-totalprice").text(totalProduct);
	$(".total-discount").text(totalDiscount);
	$(".total-price").text(totalpay);
	
	
	const select =  $(".material-icons.selected");
	
	
	//카트리스트 안에있는 li들을 다 돌기 each문
	$(".cartlist li").each(function(){
		const title = $(this).find(".hidden-title").text().trim();
		//li 안에있는 모든 요소중 히든타이틀 찾아서 값 대입하고 공백 제거완료
		//핀드는 신이다
		const optionBox = $(this).find(".item-option");
		
		
		
		
		if (title === "drink") {
			optionBox.show();
			optionBox.find(".heat").hide();
			optionBox.find(".heat-check").hide();
		}else if (title === "dessert") {
			optionBox.show();
			optionBox.find(".size, .cup, .shot, .cream").hide();
			optionBox.find(".size-count, .cup-type, .shot-count, .cream-count").hide();
			optionBox.find(".heat").show();
		}else if (title === "goods") {
			optionBox.hide();
			optionBox.find(".heat").hide();
		}
		
		
	});
	
	
	
	
	
	//두개이상 클릭막기.. 내실력 부족 전체 삭제는 안돼겠다
	$(".button-icons .material-icons").on("click", function () {
    		
		let inselect = $(".material-icons.selected");
			
		//랭스로 개수 확인 
		 if (inselect.length >= 1 && !$(this).hasClass("selected")) {
		        alert("한 번에 하나만 선택할 수 있습니다.");
		        return; 
		    }
		
		
		$(this).toggleClass("selected");
    
	});
	
	
	$(".delete-btn").on("click",function(){
		let cartNo = null;
		
		$(".cartlist li").each(function(){
			
			let cartLi = $(this);
			let icon = cartLi.find(".material-icons");
			
			let selectIcon = icon.hasClass("selected");
			
			if(selectIcon === true) {
				
				cartNo = cartLi.find(".cart-no").val();
				
				return false;
				
			}
		});
		
		  if (!cartNo) {
		        alert("삭제할 물건을 체크하세요");
		        return;
		    }
	
			console.log("매장값확인",shopName)
			
		
			 $.ajax({
			        url: "/order/cartdel",
			        type: "post",
			        data: { cartNo: cartNo },
			        success: function () {
			            alert("삭제 성공");
			            location.reload();
			        },
			        error: function () {
			            alert("삭제 실패");
			        }
			    });
	   
	});
	
 	
	
	
	$(".buy-btn").on("click",function(){
		
        const shopName = $("#shopName").val();
        //태그가 몇개있는지 렝스로 확인
        const itemCount = $(".cartlist li").length; 
	
        if (itemCount === 0) {
            alert("장바구니에 담긴 물건이 없습니다.");
            location.href = "/";
            return;
        }
       
        $.ajax({
        	url : "/order/pay",
        	type : "post",
        	data : 
        		{
        		
        		shopName : shopName
   
        		},
        		
        	success : function(){
        		alert("구매하기 성공");
        		location.href = "/";
        	},
        	error : function(){
        		alert("구매하기 실패");
        	}
        })
 	});
	
	
	</script>
	
</body>
</html>