<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문상세정보</title>
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link rel="stylesheet" href="/DrumtongCss/Orderdetails.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
     <th:block th:include="/common/header"></th:block>


	<div class="orderdetail-box">
	        
	        <div class="orderdetail-name">주문상세정보</div>
	            <div class="orderdetail-order-info">
	                <div class="order-date">2025-08-20</div>
	                <div>주문번호 : <span class="order-num">19961217</span></div>
	            </div>
	
	    <div class="orderdetail-contentbox">
	        <div class="orderdetail-imgbox"><img src="img/로고 (1) 1.svg" alt=""></div>
	        <div class="orderdetail-info">
	            <div class="orderdetail-cart"><a href="#"><img src="img/addcart.svg" alt=""></a></div>
	            <div class="orderdetail-top">
	                <div class="orderdetail-top-name">민트초코 오레오 파르페</div>
	                <div class="orderdetail-top-count">2<span>개</span></div>
	            </div>
	            <div class="orderdetail-option1">
	                <span class="size">사이즈 : </span><span class="size-count">L</span>
	                <span class="cup">컵 : </span><span class="cup-type">매장</span>
	            </div>
	            <div class="orderdetail-option2">
	                <span class="shot">샷추가 : </span><span class="shot-count">2</span>
	                <span class="cream">휘핑크림 : </span><span class="cream-type">O</span>
	            </div>
	            <div class="orderdetail-discount">등급할인</div>
	        </div>
	    </div>
	    <div class="orderdetail-payment-name">결제정보</div>
	    
	    <div class="orderdetail-payment-box">
	            <div class="orderdetail-payment-row">
	                <div>주문금액</div>
	                <div>5,000원</div>
	            </div>
	            <div class="orderdetail-payment-row">
	                <div>할인금액</div>
	                <div>500원</div>
	            </div>
	        <div class="orderdetail-payment-row">
	            <div>총 금액</div>
	            <div>4,500원</div>
	        </div>
	    </div>
	</div>

</body>
</html>