<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>옵션선택</title>
    <link rel="stylesheet" href="/DrumtongCss/orderoption.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <th:block th:include="/common/header"></th:block>
    
    <div class="order-option-header">옵션선택</div>

	<div class="order-option-main-box">
	    <div class="order-option-image-box"><img src="/" ></div>
	
	    <div class="order-option-option-box">
	    
	        <div class="order-option-top">
	            <div class="order-option-name" th:text=${p.productName}></div>
	        </div>
	
	            <div class="order-option-quantity-box">
	                <div class="order-option-quantity">
	                    <button class="button-minus1"><span class="material-icons">remove_circle_outline</span></button>
	                    <span class="order-option-count">1</span>
	                    <button class="button-plus1"><span class="material-icons">add_circle_outline</span></button>
	                </div>
	                <div class="order-option-price" th:text=${p.productPrice}></div>
	                	                <div>원</div>
	            </div>
	            
	    <div class="order-option-section">
	        <div class="order-option-label">컵 선택</div>
	            <div class="order-option-cupchoice">
	                <button class="order-option-cupbtn">개인</button>
	                <button class="order-option-cupbtn">매장</button>
	            </div>
	    </div>
	 
	    <div class="order-option-section">
	        <div class="order-option-label">사이즈 선택 (기본 L, XL + 2000원)</div>
	            <div class="order-option-sizechoice">
	                <button class="order-option-sizebtn">L</button>
	                <button class="order-option-sizebtn">XL</button>
	            </div>
	    </div>
	
	    <div class="order-option-section">
	        <div class="order-option-label">샷 추가 (+400원, 최대3회)</div>
	            <div class="order-option-choice">
	                <button class="button-minus2"><span class="material-icons">remove_circle_outline</span></button>
	                    <span class="order-option-shotcount">0</span>
	                <button class="button-plus2"><span class="material-icons">add_circle_outline</span></button>
	            </div>
	    </div>
	    
	    <div class="order-option-section">
	        <div class="order-option-label">휘핑크림 추가(+500원, 최대2회)</div>
	            <div class="order-option-choice">
	                <button class="button-minus3"><span class="material-icons">remove_circle_outline</span></button>
	                    <span class="order-option-creamcount" >0</span>
	                <button class="button-plus3"><span class="material-icons">add_circle_outline</span></button>
	           	</div>
	    </div>
	
	        <div class="order-option-totalbox">
	            <div class="order-option-totalname">결제금액</div>
	            <div class="order-option-totalprice" th:text=${p.productPrice}></div>
	                <div>원</div>
	        </div>
	    </div>
	</div>



	<div class="order-option-footer">
	    <a href="/product/productList" class="order-listpage">메뉴목록</a>
	    
	    
	    <button class="order-cartadd">장바구니담기</button>
	    
	    <form action="/order/Orderoption">
	    	<input type="hidden" value=${p.productNo} name="productNo">
	    	<button type="submit" class="order-reset">옵션초기화</button>
	    </form>
	    
	</div>
	
<script th:inline="javascript">
	const shotPay =  400;
	const creamPay = 500;
	const totalPayPrice = $(".order-option-totalprice").text();
	const optionPrice = $(".order-option-price").text();
	const sizePrice = 2000;
	
	
	
	$(".order-cartadd").on("click",function(){
		const productName = $(".order-option-name").text();
		const productCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		const cupType = $(".order-option-cupbtn").text();
		const totalPrice = $(".order-option-totalprice").text();
		
		
	});
	
	
	
	$(".order-option-sizebtn").on("click",function(){
		
		const shop = $(this).text();	
		console.log(shop);
		$(".order-option-sizebtn").css("border","1px solid black");
		$(this).css("border","3px solid green");
		
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		let plusCount = 0;
		
		if(shop=="XL") {
			plusCount = 1;
		} 
			// 마지막 결제 금액
	        // const newtotalPay = $(".order-option-totalprice").text();
			//태그 안의 텍스트 값을 숫자로 변형
			
		const sizeTotal = sizePrice * plusCount;
		const totalPrice = optionPrice * optionCount
		const shotTotal = shotCount * shotPay;
		const creamTotal = creamCount * creamPay;
					
		const payPrice = totalPrice + shotTotal + creamTotal + sizeTotal;
					
			//태그 안의 문자열값에 플러스한 값을 대입
			$(".order-option-price").text(totalPrice);
			$(".order-option-totalprice").text(payPrice);
		
		
		
		
	});
	
	
	
	
	//지정한 클래스명을 눌렀을때 동작		
	$(".button-plus1").on("click",function(){
		//지정한 클래스명의 태그 안의 문자열값을 대입 처음 금액 
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		
		// 마지막 결제 금액
        // const newtotalPay = $(".order-option-totalprice").text();
		//태그 안의 텍스트 값을 숫자로 변형
		const plusCount = Number(optionCount)+1;
		
		const totalPrice = optionPrice * plusCount;
		const shotTotal = shotCount * shotPay;
		const creamTotal = creamCount * creamPay;
				
		const payPrice = totalPrice+shotTotal+creamTotal;
				
		//태그 안의 문자열값에 플러스한 값을 대입
		$(".order-option-count").text(plusCount);
		$(".order-option-price").text(totalPrice);
		$(".order-option-totalprice").text(payPrice);
			
	});
	
	$(".button-plus2").on("click", function(){
		//지정한 클래스명의 태그 안의 문자열값을 대입 처음 금액 
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		
		
		// 마지막 결제 금액
        // const newtotalPay = $(".order-option-totalprice").text();
		//태그 안의 텍스트 값을 숫자로 변형
		const plusCount = Number(shotCount)+1;
		
		if(shotCount == 3){
			return;
		}
		
		const totalPrice = optionPrice * optionCount;
		const shotTotal = plusCount * shotPay;
		const creamTotal = creamCount * creamPay;
				
		const payPrice = totalPrice+shotTotal+creamTotal;
				
		//태그 안의 문자열값에 플러스한 값을 대입
		$(".order-option-shotcount").text(plusCount);
		$(".order-option-price").text(totalPrice);
		$(".order-option-totalprice").text(payPrice);
			
	});
	
	$(".button-plus3").on("click",function(){
		//지정한 클래스명의 태그 안의 문자열값을 대입 처음 금액 
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		
		const plusCount = Number(creamCount)+1;
		
		if(creamCount == 2){
			return;	
		}
	
		const totalPrice = optionPrice *optionCount;
		const shotTotal = shotCount * shotPay;
		const creamTotal = plusCount * creamPay;
				
		const payPrice = totalPrice + shotTotal + creamTotal;
				
		//태그 안의 문자열값에 플러스한 값을 대입
		$(".order-option-creamcount").text(plusCount);
		$(".order-option-price").text(totalPrice);
		$(".order-option-totalprice").text(payPrice);
			
	});
		
		
	$(".button-minus1").on("click",function(){
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		
		const minusCount = Number(optionCount)-1;
		
		if(optionCount == 1 ){
			return;
		}
		
		
		const totalPrice = optionPrice * minusCount;
		const shotTotal = shotCount * shotPay;
		const creamTotal = creamCount * creamPay;
				
		const payPrice = totalPrice+shotTotal+creamTotal;
				
		$(".order-option-count").text(minusCount);
		$(".order-option-price").text(totalPrice);
		$(".order-option-totalprice").text(payPrice);
			
	});
			

	
	$(".button-minus2").on("click", function(){
		//지정한 클래스명의 태그 안의 문자열값을 대입 처음 금액 
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		
		
		// 마지막 결제 금액
        // const newtotalPay = $(".order-option-totalprice").text();
		//태그 안의 텍스트 값을 숫자로 변형
		const minusCount = Number(shotCount)-1;
		
		if(shotCount == 0){
			return;
		}
		
		const totalPrice = optionPrice * optionCount;
		const shotTotal = minusCount * shotPay;
		const creamTotal = creamCount * creamPay;
				
		const payPrice = totalPrice+shotTotal+creamTotal;
				
		//태그 안의 문자열값에 플러스한 값을 대입
		$(".order-option-shotcount").text(minusCount);
		$(".order-option-price").text(totalPrice);
		$(".order-option-totalprice").text(payPrice);
			
	});
		
		
	$(".button-minus3").on("click",function(){
		//지정한 클래스명의 태그 안의 문자열값을 대입 처음 금액 
		const optionCount = $(".order-option-count").text();
		const shotCount = $(".order-option-shotcount").text();
		const creamCount = $(".order-option-creamcount").text();
		
		const minusCount = Number(creamCount)-1;
		
		if(creamCount == 0){
			return;	
		}
	
		const totalPrice = optionPrice *optionCount;
		const shotTotal = shotCount * shotPay;
		const creamTotal = minusCount * creamPay;
				
		const payPrice = totalPrice + shotTotal + creamTotal;
				
		//태그 안의 문자열값에 플러스한 값을 대입
		$(".order-option-creamcount").text(minusCount);
		$(".order-option-price").text(totalPrice);
		$(".order-option-totalprice").text(payPrice);
			
	});
	
	$(".order-option-cupbtn").on("click",function(){
		const solo = $(this).text();

		$(".order-option-cupbtn").css("border","1px solid black");		
		
			$(this).css("border", "3px solid green").css("box-sizing","border-box" );
			
	
	});
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
</script>
</body>
</html>