<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문내역</title>
    <link rel="stylesheet" href="DrumtongCss/default.css">
    <link rel="stylesheet" href="/DrumtongCss/orderlist.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <th:block th:include="/common/header"></th:block> 
    <div class="order-mainbox">
        <div class="order-namebox">주문내역</div>
    </div>
</body>
</html>