<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrderMap</title>
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link rel="stylesheet" href="/DrumtongCss/ordermap.css">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=r6oehvpmcw&submodules=geocoder"></script>
</head>
<body>
    <th:block th:include="common/header"></th:block>
   
    <div class="ordermap-mainbox">
        <div class="ordermap-name">주문할 지점을 선택하세요</div>
        <div id="map"></div>
    </div>
    
    <script th:inline="javascript">
    
    const list = [[${list}]];
    
    const mapDiv = document.getElementById("map");
    
    const map = new naver.maps.Map(mapDiv,{
		center : new naver.maps.LatLng(37.5338151,126.8969784),
		zoom : 17,
		zoomControl : true,
		zoomControlOptions:{
			position : naver.maps.Position.TOP_RIGHT,
			style : naver.maps.ZoomControlStyle.SMALL
		}
	});
    
	const marker1 = new naver.maps.Marker({
		position : new naver.maps.LatLng(37.5340956,126.8969507),
		map : map
	});
	const marker2 = new naver.maps.Marker({
		position : new naver.maps.LatLng(37.5350961,126.8999555),
		map : map
	});
	const marker3 = new naver.maps.Marker({
		position : new naver.maps.LatLng(37.5338262,126.9009868),
		map : map
	});
	const marker4 = new naver.maps.Marker({
		position : new naver.maps.LatLng(37.5352083,126.8967269),
		map : map
	});
	
	let contentString1=[
		"<div class='map-shopname'>",
		"<a href='/product/productList?shopName="+list[0].shopName+"&reqPage=1'>"+list[0].shopName+"</a>",
		"<div class='map-addr'>"+list[0].shopAddress+"</div>",
    	"</div>"
    ].join("");
	let contentString2=[
		"<div class='map-shopname'>",
		"<a href='/product/productList?shopName="+list[1].shopName+"&reqPage=1'>"+list[1].shopName+"</a>",
		"<div class='map-addr'>"+list[1].shopAddress+"</div>",
    	"</div>"
    ].join("");
	let contentString3=[
		"<div class='map-shopname'>",
		"<a href='/product/productList?shopName="+list[2].shopName+"&reqPage=1'>"+list[2].shopName+"</a>",
		"<div class='map-addr'>"+list[2].shopAddress+"</div>",
    	"</div>"
    ].join("");
	let contentString4=[
		"<div class='map-shopname'>",
		"<a href='/product/productList?shopName="+list[3].shopName+"&reqPage=1'>"+list[3].shopName+"</a>",
		"<div class='map-addr'>"+list[3].shopAddress+"</div>",
    	"</div>"
    ].join("");
	
	
    naver.maps.Event.addListener(marker1,"click",function(e){
    	infoWindow = new naver.maps.InfoWindow({
    		content : contentString1
    	});
    	infoWindow.open(map,marker1);
    });
	
    naver.maps.Event.addListener(marker2,"click",function(e){
    	infoWindow = new naver.maps.InfoWindow({
    		content : contentString2
    	});
    	infoWindow.open(map,marker2);
    });

    naver.maps.Event.addListener(marker3,"click",function(e){
    	infoWindow = new naver.maps.InfoWindow({
    		content : contentString3
    	});
    	infoWindow.open(map,marker3);
    });
    naver.maps.Event.addListener(marker4,"click",function(e){
    	infoWindow = new naver.maps.InfoWindow({
    		content : contentString4
    	});
    	infoWindow.open(map,marker4);
    });


	
	
	
    </script>
    
</body>
</html>