<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>옵션선택</title>
    <link rel="stylesheet" href="/DrumtongCss/orderoption.css">
    <link rel="stylesheet" href="/DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <th:block th:include="/common/header"></th:block>
    
    <div class="order-option-header">옵션선택</div>

<div class="order-option-main-box">
    <div class="order-option-image-box"><img src="img/로고 (1) 1.svg" alt=""></div>

    <div class="order-option-option-box">
    
        <div class="order-option-top">
            <div class="order-option-name">민트초코 오레오 프라페(ICE)</div>
        </div>

            <div class="order-option-quantity-box">
                <div class="order-option-quantity">
                    <button class="button-icons"><span class="material-icons">remove_circle_outline</span></button>
                    <span class="order-option-count">1</span>
                    <button class="button-icons"><span class="material-icons">add_circle_outline</span></button>
                </div>
                <div class="order-option-price">5,000원</div>
            </div>
            
    <div class="order-option-section">
        <div class="order-option-label">컵 선택</div>
            <div class="order-option-choice">
                <button class="order-option-cupbtn">개인</button>
                <button class="order-option-cupbtn">매장</button>
            </div>
    </div>
 
    <div class="order-option-section">
        <div class="order-option-label">사이즈 선택 (+1,000원/+2,000원)</div>
            <div class="order-option-choice">
                <button class="order-option-sizebtn">L</button>
                <button class="order-option-sizebtn">XL</button>
            </div>
    </div>

    <div class="order-option-section">
        <div class="order-option-label">샷 추가 (+400원, 최대3회)</div>
            <div class="order-option-choice">
                <button class="button-icons"><span class="material-icons">remove_circle_outline</span></button>
                    <span class="order-option-shotcount">1</span>
                <button class="button-icons"><span class="material-icons">add_circle_outline</span></button>
            </div>
    </div>
    
    <div class="order-option-section">
        <div class="order-option-label">휘핑크림 추가(+500원)</div>
            <div class="order-option-choice">
                <button class="button-icons"><span class="material-icons">check_circle_outline</span></button>
           	</div>
    </div>

        <div class="order-option-totalbox">
            <div class="order-option-totalname">결제금액</div>
            <div class="order-option-totalprice">5,000
                <span>원</span>
            </div>
        </div>
    </div>
</div>
<div class="order-option-footer">
    <a href="/product/productList" class="order-listpage">메뉴목록</a>
    <button class="order-reset">옵션초기화</button>
    <button class="order-cartadd">장바구니담기</button>
</div>
<script>


	
	
</script>
</body>
</html>