<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	.btn{
		margin: 10px 0;
	}
</style>
<body>
<th:block th:include="common/header"></th:block>
<div class="content-wrap">
	<button class="btn" id="cancle" >목록가기</button>
	<form action="/news/bannerChange" method="post" enctype="multipart/form-data">
			<table border=1>
						<tr>
							<th style="width: 20%">메인베너 선택하기</th>
							<td style="width: 80%">
								<select name="posterNo" id="posterNo">
									<th:block th:each="p:${posterList}" >
										<option th:value="${p.posterNo}" th:text="${p.posterNo}" th:selected="${p.mainYn}=='Y'"></option>
										<div style="display:none;" th:text=${p.image}></div>
									</th:block>
								</select>
							</td>
						</tr>
						<tr>
							<th>메인배너 미리보기</th>
							<td>
								<div>
									<img id="main-view" width="500px" th:src="@{'/banner/image/'+${imageMain.image}}">							
								</div>
							</td>
						</tr>
						<tr>
							<th>뉴스배너 선택하기</th>
							<td>
								<select name="posterNoNews" id="posterNoNews">
									<th:block th:each="p:${posterList}" >
										<option th:value="${p.posterNo}" th:text="${p.posterNo}" th:selected="${p.newsYn}=='Y'"></option>
										<div style="display:none;" th:text=${p.image}></div>
									</th:block>
								</select>

							</td>					
						</tr>
						<tr>
							<th>뉴스배너 미리보기</th>
							<td>
								<div>
									<img id="news-view" width="500px" th:src="@{'/banner/image/'+${imageNews.image}}">							
								</div>
							</td>
						</tr>
						
						<tr>
							<td colspan="4">
							<button class="btn" id="insert-btn" type="submit">배너 선정</button>
							</td>
						</tr> 
						
					</table>
				</form>
				
</div>



<th:block th:include="common/footer"></th:block>
</body>

<script th:inline="javascript">


$("#cancle").on("click", function(){
	location.href="/news/list?noticeReqPage=1&tab=all";		
})


$("#posterNo").on("change", function() {
	$("#main-view").attr("src", "/banner/image/"+$("select[name=posterNo] option:selected").next().text());
});

		
$("#posterNoNews").on("change", function() {
		$("#news-view").attr("src", "/banner/image/"+$("select[name=posterNoNews] option:selected").next().text());
});



		
</script>

</html>