<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<h1>NEWS 작성하기</h1>
		<div class="content-wrap">
			<div class="">
				<form action="/news/discountWrite" method="get">
					<!-- <input type="hidden" name="memberNo" th:value="${session.member.memberNo}">  -->	
		
					<input type="hidden" name="newsNo" th:value="${newsNo}">
					<table border=1>
						<tr>
							<th style="width: 20%">글 제목</th>
							<td th:text="${title}" style="width: 80%" colspan="3">
							</td>
						</tr>
						
						<tr>
							<td colspan="4">
							<button class="btn" id="insert-btn" type="submit">등록하기</button>
							</td>
						</tr> 
					</table>
				</form>
		
			</div>
		
		</div>
	<th:block th:include="common/footer"></th:block>
	<script th:inline="javascript">

			
	</script>
</body>
</html>