<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<h1>NEWS 작성하기</h1>
		<div class="content-wrap">
			<div class="">
				<form action="/news/discountWrite" method="get">
					<!-- <input type="hidden" name="memberNo" th:value="${session.member.memberNo}">  -->	
					
					<table border=1>
						<tr>
							<th style="width: 20%">글 제목</th>
							<td style="width: 80%" colspan="3">
								<input type="text" name=title>
							</td>
						</tr>
						<tr> <!-- 상품 추가되면 추가 작성 : 반복문으로 상품 불러오기-->
							<th>할인 적용상품</th>
							<td colspan="3">
							<label for="Amricano">아메리카노</label>
							<input type="checkbox" name="productNoList" id="Amricano" value="1">
							<label for="lattle">라떼</label>
							<input type="checkbox" name="productNoList" id="lattle" value="2">
							</td>
						</tr>
						
						<tr>
							<th>할인율/할인가격
							</th>
							<td colspan="3">
								<input type="radio" name="discount" id="Percent">
								<label for="Percent">할인율</label>
								<input type="number" name="discountPercent"><span>%</span>
								<input type="radio" name="discount" id="Price">
								<label for="Price">할인가격</label>
								<input type="number" name="discountPrice"><span>원</span>
							</td>
						</tr>
						
						
						<tr>
							<td colspan="4">
							<button class="btn" id="insert-btn" type="submit">등록하기</button>
							</td>
						</tr> 
						
					</table>
				</form>
		
			</div>
		
		</div>
			
						
</body>
</html>