<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="/DrumtongJs/news.js"></script>
<link rel="stylesheet" href="/DrumtongCss/news.css">
<style>

</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
	
		<div id="main-news">
			<img src="/img/news/main_promotion3.jpg" class="main-news3">
			<div class="btn-div">
				<a href="/" class="btn write-btn" style="float:right;">이미지 수정</a>	<!-- 관리자만 노출 -->
			</div>
		</div>
		<div class="tab">
			<ul class="first-tab">
				<li>전체보기</li>
				<li>이벤트</li>
				<li>프로모션</li>
			</ul>
			<span></span>
			<ul  class="second-tab">
				<li>공지사항</li>
			</ul>
		</div>
		
		<div class="btn-div">
			<a href="/news/noticeWriteFrm" class="btn write-btn">공지사항 쓰기</a>	
			<a href="/news/writeFrm" class="btn write-btn">NEWS 쓰기</a>	
		</div>
		
		<div class="list"> <!-- close class 넣기 -->
			<ul class="news-list"> 
				<li class="news-item"> 
					<div class="item-img-div">
						<img src="/img/프로모션1.jpg">
					</div>
					<div class="text-warp">
						<div class="news-title">
							<span class="type">[프로모션]</span> 
							<span>DRUMTONG 텀블러 출시! 아주아주 긴 제목으로 씁니다. 길면 축약</span> 
						</div>
						<div class="list-small">
							<span class=date>
								<span>2025-08-26</span>
								<span>~</span>
								<span>2025-09-01</span>
							</span>
							<span class=like>
								<span class="material-icons">favorite_border</span>
							</span>
						</div>
					</div>
					
					<li class="news-item"> 
					<div class="item-img-div">
						<img src="/img/프로모션1.jpg">
					</div>
					<div class="text-warp">
						<div class="news-title">
							<span>[프로모션]</span> 
							<span>DRUMTONG 텀블러 출시! 아주아주 긴 제목으로 씁니다. 길면 축약</span> 
						</div>
						<div class="list-small">
							<span class=date>
								<span>2025-08-26</span>
								<span>~</span>
								<span>2025-09-01</span>
							</span>
							<span class=like>
								<span class="material-icons">favorite_border</span>
							</span>
						</div>
					</div>
					
					<li class="news-item"> 
					<div class="item-img-div">
						<img src="/img/프로모션1.jpg">
					</div>
					<div class="text-warp">
						<div class="news-title">
							<span>[프로모션]</span> 
							<span>DRUMTONG 텀블러 출시! 아주아주 긴 제목으로 씁니다. 길면 축약</span> 
						</div>
						<div class="list-small">
							<span class=date>
								<span>2025-08-26</span>
								<span>~</span>
								<span>2025-09-01</span>
							</span>
							<span class=like>
								<span class="material-icons">favorite_border</span>
							</span>
						</div>
					</div>
					
					<li class="news-item"> 
					<div class="item-img-div">
						<img src="/img/프로모션1.jpg">
					</div>
					<div class="text-warp">
						<div class="news-title">
							<span>[프로모션]</span> 
							<span>DRUMTONG 텀블러 출시! 아주아주 긴 제목으로 씁니다. 길면 축약</span> 
						</div>
						<div class="list-small">
							<span class=date>
								<span>2025-08-26</span>
								<span>~</span>
								<span>2025-09-01</span>
							</span>
							<span class=like>
								<span class="material-icons">favorite_border</span>
							</span>
						</div>
					</div>
					
					<li class="news-item"> 
					<div class="item-img-div">
						<img src="/img/프로모션1.jpg">
					</div>
					<div class="text-warp">
						<div class="news-title">
							<span>[프로모션]</span> 
							<span>DRUMTONG 텀블러 출시! 아주아주 긴 제목으로 씁니다. 길면 축약</span> 
						</div>
						<div class="list-small">
							<span class=date>
								<span>2025-08-26</span>
								<span>~</span>
								<span>2025-09-01</span>
							</span>
							<span class=like>
								<span class="material-icons">favorite_border</span>
							</span>
						</div>
					</div>
					
					<li class="news-item"> 
					<div class="item-img-div">
						<img src="/img/프로모션1.jpg">
					</div>
					<div class="text-warp">
						<div class="news-title">
							<span>[PROMOTION]</span> 
							<span>DRUMTONG 텀블러 출시! 아주아주 긴 제목으로 씁니다. 길면 축약</span> 
						</div>
						<div class="list-small">
							<span class=date>
								<span>2025-08-26</span>
								<span>~</span>
								<span>2025-09-01</span>
							</span>
							<span class=like>
								<span class="material-icons">favorite_border</span>
							</span>
						</div>
					</div>
				
			</ul>
			<div id="add-search"> 		
				<button class="btn">더보기</button>
			</div>
		</div>
		
		
		
		
		
		
		<div class="notice-list"> <!-- close class 넣기 -->
			<table border=1>
				<tr>
					<th style="width:10%">번호</th>
					<th style="width:50%">글 제목</th>
					<th style="width:15%">작성일</th>
					<th style="width:10%">조회수</th>
					<th>수정</th> <!-- 관리자만 노출 -->
					<th>삭제</th> <!-- 관리자만 노출 -->
					
				</tr>
				<tr th:each="notice : ${notice}">
					<td th:text="${notice.noticeNo}"></td>
					<td> <a th:href="@{/news/noticeView(noticeNo=${notice.noticeNo})}" th:text="${notice.title}"></a></td>
					<td th:text="${notice.writeDate}"></td>
					<td>999</td>
					<td><button>수정</button></td> <!-- 관리자만 노출 -->
					<td><button>삭제</button></td> <!-- 관리자만 노출 -->
				</tr>
			</table>
		</div>
		<div class= page-item id="pageNavi" th:utext="${pageNavi}"></div>
	</div>
	<th:block th:include="common/footer"></th:block>
	
	<script th:inline="javascript">
		const totalCount = [[${totalCount}]]; 	// news 게시물 갯수
		let currentCount = 0;					// 현재까지 읽어온 게시물 수
		let start = 1;							// 게시물의 시작 번호
		const amount = 6;						// 더보기 한번 클릭 시 추가로 가져올 게시물 수 
		
		$("#more-btn").on("click",function() {
			$.ajax({
				url: "/news/more",
				type: "get",
				data: {start: start, amount : amount},
				success : function(data){
					for(let i=0;i<data.length;i++){
						const p = data[i];
						
						/* -> 최종 모양
								<li class="posting-item">
									<div class="posting-img">
										<img src="db에서 조회해 온 이미지 path">
									</div>
									<div class="posting-info">
										<div class="posting-title">db에서 조회한 제목</div>
										<div class="posting-sub-info">
											<span>DB에서 조회한 작성자 </span>
										</div>
									</div>
								</li>
						*/
						
						const li = $("<li>");
						li.addClass("posting-item");
						// <li class="posting-item"></li>
						const imgDiv = $("<div>");
						imgDiv.addClass("posting-img");
						// <div class="posting-img"></div>
						const img = $("<img>");
						img.attr("src", "/photo/image/"+p.photoImg);
						// <img src="da에서 조회해온 이미지path">
											
						imgDiv.append(img);
						/* 
							<div class="posting-img">
								<img src="db에서 조회해 온 이미지 path">
							</div>
						*/
						
						const infoDiv = $("<div>");
						infoDiv.addClass("posting-info");
						// <div class="posting-info"></div>
						
						const titleDiv = $("<div>");
						titleDiv.addClass("posting-title");
						titleDiv.text(p.photoTitle);
						// <div class="posting-title">db에서 조회한 제목</div>
						
						
						const subDiv = $("<div>");
						subDiv.addClass("posting-sub-info");
						// <div class="posting-sub-info"></div>
						
						const span = $("<span>");
						span.text(p.photoWriter);
						//<span>DB에서 조회한 작성자 </span>
						
						/* 
								<div class="posting-info">
									<div class="posting-title">db에서 조회한 제목</div>
									<div class="posting-sub-info">
										<span>DB에서 조회한 작성자 </span>
									</div>
								</div>
						*/
						
						subDiv.append(span);
						infoDiv.append(titleDiv).append(subDiv);
						
						li.append(imgDiv).append(infoDiv);
						
						$(".photoWrapper").append(li);
						
						
					}
					// 화면 요소 추가 끝
					// 더보기를 누르면 그 이후 데이터를 가저오기 위한 설정
					start += amount; 
					// 현재까지 읽어온 게시물 수 -> 마지막은 amount 전체가 아닐 수 있음. 
					currentCount += data.length;  
					if(currentCount === totalCount) {
						$("#more-btn").remove();
					}
				},
				error : function(){
					console.log("에러");
				}
			})
		});
		
	</script>
</body>
</html>