<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
	.content{
		height: 500px;
		text-align: left;
		padding : 20px;
	}
	.btn{
		margin: 10px;
	}
	.title{
		margin: 20px 0;
	}
</style>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="content-wrap">
		<h2 class="title"> 공지사항 상세보기</h3>
		<div class="notice-list">
			<table border=1>
				<tr>
					<th style="width:10%">글 제목</th>
					<td th:text="${notice.title}" style="width:70%"></td>
					<th style="width:10%">조회수</th>
					<td style="width:10%" th:text="${notice.viewCount}"></td>
				</tr>
				<tr>
					<th>내용</th>
					<td colspan="4" th:text="${notice.content}" class="content"></td>
				</tr>					
			</table>
		</div>
	 </div>
	 <th:block th:include="common/footer"></th:block>
</body>

<script th:inline="javascript">
	const viewCount = [[${notice.viewCount}]];
	const newViewCount = Number(viewCount)+1;
	const noticeNo = [[${notice.noticeNo}]]
	
		$.ajax({
				url: "/news/viewUpdate",
				type: "get",
				data: {viewCount : newViewCount,
						noticeNo : noticeNo
				}
				
		});
	
	
</script> 
</html>