<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<h1>NEWS 수정하기</h1>
		<div class="content-wrap">
			<div class="notice-list">
				<form action="/news/updatewrite" method="post" enctype="multipart/form-data">
					<table border=1>
						<tr>
							<th style="width: 15%">글 제목</th>
							<td style="width: 85%" colspan="3">
								<input type="hidden" name=newsNo th:value=${news.newsNo}>
								<input type="text" name=title th:value="${news.title}">
							</td>
						</tr>
						<tr>
							<th>타입선택</th>
							<td style="width: 25%">
								<input type="radio" name="type" id="promotion" value="프로모션"  th:checked="${news.type}=='프로모션'">
								<label for="promotion">프로모션</label>
								<input type="radio" name="type" id="event" value="이벤트" th:checked="${news.type}=='이벤트'">
								<label for="event">이벤트</label>
							</td>
							<th style="width: 20%">적용일자</th>
							<td style="width: 40%">
								<input type="date" name="startDate" th:value="${news.startDate}"><span> ~ </span><input type="date" name="endDate"  th:value="${news.endDate}">
							</td>
						</tr>
						
						<tr>
							<th>내용</th>
							<td colspan="3">
								<textarea name="content" th:text="${news.content}"></textarea>
							</td>
						</tr>	
						
						<tr>
							<th>이미지 미리보기</th>
							<td colspan="3">
								<div>
									<img id="img-view" width="500px" th:src="@{'/news/image/'+${news.image}}">							
								</div>
							</td>
						</tr>
						<tr> 
							<th>할인 적용상품</th>
							<td colspan="3">
								<th:block th:each="p:${product}">
									<input type="checkbox" name="productNoStr" th:id="${p.productNo}" th:value="${p.productNo}">
									<label th:for="${p.productNo}" th:text="${p.productName}"></label>
								</th:block>
							</td>
						</tr>						
						<tr>
							<th>할인
							</th>
							<td colspan="3">
								<select name="discountType" id="discountSelect">
									<option value="Percent"  th:selected="${discountType}=='Percent'">할인율</option>
									<option value="Price" th:selected="${discountType}=='Price'">할인가격</option>
								</select>
								<input type="number" name="discountPrice" th:value="${discountPrice}"><span class="priceInput" >%</span>
							</td>
						</tr>
						
						<tr>
							<td colspan="4">
							<button class="btn" id="insert-btn" type="submit">수정하기</button>
							</td>
						</tr> 
						
					</table>
				</form>
		
			</div>
		
		
		</div>
	<th:block th:include="common/footer"></th:block>

	<script th:inline="javascript">
			const discount = [[${discount}]];
			for (var i = 0; i <discount.length; i++) {
				console.log(discount[i].productNo);
				$("input[id="+discount[i].productNo+"]").prop("checked",true);
			}
		

	</script>
</body>
</html>