<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<h1>NEWS작성하기</h1>
		<div class="content-wrap">
			<div class="notice-list">
				<table border=1>
					<tr>
						<th>번호</th>
						<th>글 제목</th>
						<th>작성일</th>
						<th>조회수</th>
					</tr>
					<tr>
						<td>1</td>
						<td>글 제목</td>
						<td>2025-01-05</td>
						<td>조회수</td>
					</tr>
				</table>
			</div>
		
		
		</div>
	<th:block th:include="common/footer"></th:block>
</body>
</html>