<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style>
	table{
		width: 100%;
	}
	.btn{
		margin: 10px;
	}
	.title{
		width: 90%;
	}
	.content{
		width: 90%;
		height: 100px;
		margin: 10px 0;
	}
	#title_big{
		margin: 20px 0;
	}
	input[name=newsImageFile]{
		padding-left: 10px;
	}
	.notice-list{
		margin-bottom : 40px;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
		<div class="content-wrap">
			<div id="title_big">
				<h2>NEWS 작성하기</h2>
			</div>
				<form action="/news/write" method="post" enctype="multipart/form-data">
			<div class="notice-list">
					<table border=1>
						<tr>
							<th style="width: 20%">글 제목</th>
							<td style="width: 80%" colspan="3">
								<input type="text" name=title class="title" required>
							</td>
						</tr>
						<tr>
							<th>타입선택</th>
							<td style="width: 30%">
								<input type="radio" name="type" id="promotion" value="프로모션" checked>
								<label for="promotion">프로모션</label>
								<input type="radio" name="type" id="event" value="이벤트">
								<label for="event">이벤트</label>
							</td>
							<th style="width: 20%">썸네일 선택하기</th>
							<td style="width: 30%">
								<input type="file" name="newsImageFile" accept="image/*" onchange="loadImg(this);" required>
							</td>
						</tr>
						<tr>
							<th>내용</th>
							<td colspan="3">
								<textarea name="content" class="content"></textarea>
							</td>
						</tr>	
						
						<tr>
							<th>이미지 미리보기</th>
							<td colspan="3">
								<div>
									<img id="img-view" width="500px" src="/img/default_img.png">							
								</div>
							</td>
						</tr>
						<tr class="event close">
							<th>적용일자</th>
							<td colspan="3"><input type="date" name="startDate" id="startDate"><span> ~ </span><input type="date" name="endDate" id="endDate"></td>
						</tr>
						<tr class="event  close"> 
							<th>할인 적용상품</th>
							<td colspan="3">
								<th:block th:each="p:${product}">
								<input type="checkbox" name="productNoStr" th:id="${p.productNo}" th:value="${p.productNo}">
								<label th:for="${p.productNo}" th:text="${p.productName}"></label>
								</th:block>
							</td>
						</tr>
						
						<tr class="event close">
							<th>할인	</th>
							<td colspan="3">
								<select name="discountType" id="discountSelect">
									<option value="Percent" selected>할인율</option>
									<option value="Price">할인가격</option>
								</select>
								<input type="number" name="discountPrice"><span class="priceInput" >%</span>
							</td>
						</tr>
						
						
						<tr>
							<td colspan="4">
							<button class="btn" id="insert-btn" type="submit">등록하기</button>
							</td>
						</tr> 
						
					</table>
		
			</div>
				</form>
		
		
		</div>
	<th:block th:include="common/footer"></th:block>
			
	<script>
	$("#endDate").on("change", function(){
		const endDate = $("#endDate").val();
		const startDate = $("#startDate").val();
		if(endDate < startDate) {
			alert("종료일자는 시작일자보다 작을 수 없습니다.");
			$("#endDate").val(startDate);
		}
			
	})
		$("#startDate").on("change", function(){
		const endDate = $("#endDate").val();
		
		const startDate = $("#startDate").val();
		if(endDate != '' && endDate < startDate) {
			alert("시작일자는 종료일자보다 클 수 없습니다.");
			$("#startDate").val(endDate);
		}
			
	})

	
		$("input[name=type]").on("change", function(){
			const chk = $("input[name=type]:checked").val();
			if(chk == '이벤트'){
				$(".event").removeClass("close");
			} else if(chk == '프로모션') {
				$(".event").addClass("close");
			}
		})
	
		$("#discountSelect").on("change", function(){
			const discountSelect = $("#discountSelect option:selected").val();
			if(discountSelect == "Percent"){
				$(".priceInput").text("%");
			} else if(discountSelect == "Price") {
				$(".priceInput").text("원");			
			}
		});
		function loadImg(obj) {
			if(obj.files.length !== 0) {
				const reader = new FileReader();
				reader.readAsDataURL(obj.files[0]);
				reader.onload=function(e){
					$("#img-view").attr("src", e.target.result);
				};
			} else{
				$("#img-view").attr("src","/img/default_img.png");
			}
		}
		
	</script>
	
	

</body>
</html>