<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/DrumtongCss/passwordReset.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<main class="content">
		<section class="section">
			<div class="select-pwBox">
				<h1>비밀번호 재설정</h1>
				<div class="content-box">
      				<p th:if="${msg}" th:text="${msg}"></p>
      				<p th:if="${error}" style="color:red" th:text="${error}"></p>
      				<form action="/member/passwordReset" method="post" autocomplete="off">
        				<div class="input-text">
          					<label>가입 이메일</label>
          					<input type="email" name="memberEmail" placeholder="가입 된 이메일을 입력하세요" required>
        				</div>
        				<div class="input-text">
          					<label>새 비밀번호</label>
          					<input type="password" name="newPassword" placeholder="새 비밀번호 입력" required>
        				</div>
        				<div class="btn">
          					<button type="submit" id="update-btn">비밀번호 변경</button>
        				</div>
      				</form>	
				</div>
			</div>
		</section>
	</main>
	<th:block th:include="common/footer"></th:block>
</body>
</html>