<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장바구니</title>
    <link rel="stylesheet" href="DrumtongCss/Cart.css">
    <link rel="stylesheet" href="DrumtongCss/default.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo-box">
                <div class="logo-img">
                    <img src="/img/로고 (1) 1.svg">
                </div>
                <div class="logo-name">
                    <div class="drum">DRUM</div>
                    <div class="tong">TONG</div>
                </div>
        </div>
        <div class="nav-box">
            <div class="navbox1">
                <ul class="navi-small-box">
                    <li><a href="#">Sales Page</a></li>
                    <li><a href="#">Admin MemberList</a></li>
                    <li>
                        <a href="#"><span class="material-icons">perm_identity</span></a>
                    </li>
                    <li><a href="#"><span class="material-icons">list_alt</span></a></li>
                    <li><a href="#"><span class="material-icons">shopping_cart</span></a></li>
                    <li><a href="#"><span class="material-icons">logout</span></a></li>
                </ul>
            </div>
            <div class="navbox2">
                <ul class="menu-box">
                    <li><a href="#">ORDER</a></li>
                    <li><a href="/news/list">NEWS</a></li> 
                    <li><a href="/customer/list">CUSTMER SERVICE</a></li>                   

                </ul>
            </div>
        </div>
    </div>

    <div class="cart-mainbox">
        <div class="cart-namebox">
            <div class="cart-name">
               <h2>장바구니</h2>
            </div>
            <div class="cart-check">
                <label class="custom-checkbox">
                    <input type="checkbox" id="cartcheck">
                    <img src="img/unchecked.svg" alt="" class="checkbox-icon">
                </label>
                <span>전체선택</span>
                <span>선택삭제</span>
            </div>
        </div>
        <div class="cart-box">
            <div class="cart-listbox">
                <ul class="cartlist">
                    <li>
                        <div class="cart-listheader">
                            <label class="custom-checkbox">
                                <input type="checkbox" id="cartcheck">
                                <img src="img/unchecked.svg" alt="" class="checkbox-icon">
                            </label>
                            <button class="X">X</button>
                        </div>
                        
                        <div class="cart-listbody">
                            <div class="cart-imgbox">
                                <img src="img/로고 (1) 1.svg" alt="" class="cart-img">
                            </div>
                            <div class="list-infobox">
                                <div class="info-top">
                                    <span class="item-name">민트초코 오레오 파르페</span>
                                    <div class="quantity-box">
                                        <button class="minus"><img src="img/minus.svg" alt=""></button>
                                        <span class="quantity">1</span>
                                        <button class="plus"><img src="img/plus.svg" alt=""></button>
                                    </div>
                                    <span class="item-price">5,000원</span>
                                </div>
                                <div class="item-option">
                                    <div class="option-top">
                                        <span class="size">사이즈 : </span><span class="size-count">L</span>
                                        <span class="cup">컵 : </span><span class="cup-type">매장</span>
                                    </div>
                                    <div class="option-bottom">
                                        <span class="shot">샷추가 : </span><span class="shot-count">2</span>
                                        <span class="cream">휘핑크림 : </span><span class="cream-type">O</span>
                                    </div>
                                </div>
                                <div class="info-bottom">
                                    <span class="sale">등급할인</span>
                                    <a href="#" class="modify">옵션변경</a>
                                </div>
                            </div>
                        </div>
                        <div class="cart-listfooter">
                            <div class="footer-pricebox">
                                <div class="price-row">
                                <span class="label">상품금액</span>
                                <span class="value">5,000원</span>
                                </div>
                                <span class="operator"><img src="img/remove.svg" alt=""></span>
                                <div class="price-row">
                                <span class="label">할인금액</span>
                                <span class="value">500원</span>
                             </div>
                                <span class="operator">=</span>
                                <div class="price-row total">
                                <span class="label">주문금액</span>
                                <span class="value">4,500원</span>
                             </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
           <div class="cart-pricebox">
                <div class="price-summary">
                    <h3>결제정보</h3>
                        <hr>
                    <div class="summary-row">
                        <span>상품수</span>
                        <span>2개</span>
                    </div>
                    <div class="summary-row">
                        <span>상품금액</span>
                        <span>5,000원</span>
                 </div>
                 <div class="summary-row">
                        <span>할인금액</span>
                        <span>-500원</span>
                    </div>
                 <hr>
                    <div class="summary-row total">
                        <span>총 결제금액</span>
                        <span>4,500원</span>
                    </div>
                  </div>
                  <div class="buy-btnbox">
                      <button class="buy-btn">구매하기</button>
                  </div>
                </div>

            </div>

        </div>
    </div>

</body>
</html>