@charset "UTF-8";
/* mypage */
.content-web{
	height: 800px;
}
.first-title{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
h1>span{
	color: #6D2932;
}
.section{
    width: 550px;
    margin: 0 auto;
    border: 1px solid #d6d6d6;
    border-radius: 35px;
    background-color: #F7ECDE;
    text-align: center;
}
.my-info-wrap{
	text-align: center;
}
.tbl>th{
	font-size: 16px;
}
.left{
	font-size: 16px;
}
.left>input{
	font-size: 16px;
	width: 250px;
	height: 25px;
	text-align: center;
	background-color: #FBF8F1;
	border: 1px solid #555555;
	border-radius: 15px;
	outline: none;
}
.mypage-btn>button{
	width: 130px;
	height: 30px;
	background-color: #FBF8F1;
	font-size: 18px;
}