@charset "UTF-8";
.select-pwBox{
	height: 800px;
	margin: 0 auto;
	text-align: center;
}
h1{
	margin-top: 100px;
	margin-bottom: 70px;
	font-weight: bold;
	color: #6D2932;
}
.input-text{
	padding-top: 25px;
}
.input-text>label{
	font-size: 16px;
	color: #333333;
	margin-right: 15px; 
	font-weight: bold;
}
.input-text>input{
	width: 350px;
	height: 35px;
	border: 2px solid #333333;
	border-top: none;
	border-left: none;
    border-right: none;
	outline: none;
	background-color: #FBF8F1;
}
.btn{
	width: 100px;
	height: 30px;
	margin: 0 auto;
	margin-top: 50px;
}
.btn>button{
	width: 100px;
	height: 30px;
	text-align: center;
	background-color: #54BAB9;
	color: #f8f9fa;
	border: none;
}