*{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 800px;
    text-align: center;
    margin: 0 auto;
   
  
}
.productUpdate_title_wrap{
	overflow: hidden;
	text-align: center;
}

.wrap_wrap{
	overflow: hidden;
	margin-bottom: 50px;
	text-align: center;
}
/*-------------------*/

.productUpdate_title_wrap>h1{
	text-align: center;
    line-height: 100px;
    font-size: 24px;
    font-weight: bold;
    color: var(--gray1);
    margin-top: 50px
}
form{
	width: 800px;
   
}
.updateContent_wrap{
	overflow: hidden;
	width: 800px;
    background-color: var(--main2);
    padding: 40px 15px;
    margin-bottom: 15px;
}
/*
.updateContent_wrap{
	font-weight: 600;
    font-size: 17px;
    color: var(--gray1);
    border-right: 1px solid var(--main3);
    width: 130px;
}*/

.img_wrap{
	width: 355px;
    height: 375px;
    border: 2px solid var(--gray1); 
    float: left;
    margin-left: 10px;
}
.img_div{
	background-color : var(--main1);
	width: 355px;
    height: 375px;
}
.img_wrap>.icon_div{
	
}
.icon_div>span{
	text-align: right;
	float: right;
	height: 100px;
}

.content_wrap{
	width: 355px;
    height: 375px;
    background-color : var(--main1);
    float: right;
    margin-right: 40px;
    }

.btn_div{	
	width: 100px;
	text-align: center;	
	width:50px;
}
button{
	width:50px;
	
	}

.update_btn{
		
}
.return_btn{
	
		
	 	
}
.return_div>a{
	width: 50px;
}
