<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.title{
		margin: 20px 0;
	}

</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div id="main-img">
		<div id="main-news" style="width:100%; min-width:1200px;">
			<a th:href="@{redirect:/news/view(newsNo=${banner.newsNo})}">
				<img th:src="@{'/banner/image/'+${banner.image}}" style="width: 100%">
			</a>
			<div  th:if="${session.member != null && session.member.memberGrade == '관리자'}" class="btn-div">
				<a href="/news/bannerSelect" class="btn write-btn" style="float:right;">배너 선정</a>
			</div>
		</div>
		
		<div class="content-wrap">
			<h2 class="title">DRUM TONG BEST!</h2>
			<table class="best_tbl">
				<tr th:each="p:${product}">
					<td style="width: 30%; border: 1px, solid, var(--main1);">
						<img th:src="@{'/product/'+${p.productImg}}">
					</td>
					<td style="border: 1px, solid, var(--main1); text-align:left;">
						<h3 th:text="${p.productName} "></h3>
					</td>
				</tr>
				
			</table>
		</div>
	</div>
	
	<th:block th:include="common/footer"></th:block>
</body>
</html>