<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel='stylesheet' href="/DrumtongCss/customer.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="allfirst-wrap">
        <div class="all-wrap">
            <div>
                <div>
                	<span class="drumtong">DrumTong</span>
                	은 언제나 고객의 소리에 귀 기울이겠습니다.
                </div>
            </div>
            <div>
                <div class="customer-center">고객센터: <span class="material-icons">phone</span> 1577-0000</div>
            </div>
            <div>
                <div>이용시간: 24시 연중무휴</div>
            </div>
            <div class="tab">
                <div>
                    <ul>
                        <li>
                            <a href="/customer/list?reqPage=1">전체</a>
                        </li>
                        <li>
                            <a href="/customer/goodjob?reqPage=1">칭찬</a>
                        </li>
                        <li>
                            <a href="/customer/complain?reqPage=1">불만</a>
                        </li>
                        <li>
                            <a href="/customer/opinion?reqPage=1">의견</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>최신순</p>
                        </li>
                        <li>
                            <p>오래된순</p>
                        </li>
                        <li>
                            <p>가나다순</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="customer-content-wrap">
                <table class="title-table">
                    <tr>
                        <th style="width: 15%;">유형</th>
                        <th style="width: 15%;">작성자</th>
                        <th style="width: 45%;">제목</th>
                        <th style="width: 15%;">작성일</th>
                        <th style="width: 10%;">삭제</th>
                    </tr>
                    <tr class="tab-content"  th:each="customer : ${list}">
                        <td style="width: 15%;" th:text="${customer.customerCategory}"></td>
                        <td style="width: 15%;" th:text="${customer.customerNickname}"></td>
                        <td class="title-td" style="width: 45%;">
                        	<a href="#" th:text="${customer.customerTitle}"></a>
                        </td>
                        <td style="width: 15%;" th:text="${customer.customerDate}"></td>
                        <td style="width: 10%;">
                            <button class="delete-btn">삭제</button>
                        </td>
                    </tr>
                    <tr class="button-tr">
                    	<td class="button-td" colspan="5">
	                        <button class="write-btn">글쓰기</button>
                    	</td>
                    </tr>
                </table>
            </div>
            <div class="navi">
            	<ul class="navi-ul">
            		<li class="navi-li" th:if="${navi.prev}">
            			<a th:href="@{/customer/list(reqPage=${navi.startNo - 1})}">
					    	<span class="material-icons">chevron_left</span>
				        </a>
            		</li>
            		<li class="navi-li" th:each="pageNo : ${#numbers.sequence(navi.startNo, navi.endNo)}">
            			<a th:classappend="${navi.reqPage == pageNo} ? 'active-page' : ''" class="page-item" th:href="@{/customer/list(reqPage=${pageNo})}" th:text="${pageNo}">
					    </a>
					</li>
				    <li class="navi-li" th:if="${navi.next}">
				    	<a class="page-item" th:href="@{/customer/list(reqPage=${navi.endNo + 1})}">
				        	<span class="material-icons">chevron_right</span>
				    	</a>
   					</li>
            	</ul>
            </div>
        </div>
    </div>
    <script>
    	
    
    
    </script>
</body>
</html>