<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel='stylesheet' href="/DrumtongCss/customer.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="allfirst-wrap">
        <div class="all-wrap">
            <div>
                <div>드럼Tong은 언제나 고객의 소리에 귀 기울이겠습니다.</div>
            </div>
            <div>
                <div class="test">고객센터: 1577-0000</div>
            </div>
            <div>
                <div>이용시간: 24시 연중무휴</div>
            </div>
            <div class="tab">
                <div>
                    <ul>
                        <li>
                            <a href="#">전체</a>
                        </li>
                        <li>
                            <a href="#">칭찬</a>
                        </li>
                        <li>
                            <a href="#">불만</a>
                        </li>
                        <li>
                            <a href="#">의견</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>최신순</p>
                        </li>
                        <li>
                            <p>오래된순</p>
                        </li>
                        <li>
                            <p>가나다순</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="customer-content-wrap">
                <table class="title-table">
                    <tr>
                        <th style="width: 15%;">유형</th>
                        <th style="width: 15%;">작성자</th>
                        <th style="width: 40%;">제목</th>
                        <th style="width: 20%;">작성일</th>
                        <th style="width: 10%;">삭제</th>
                    </tr>
                    <tr class="tab-content"  th:each="customer : ${list}">
                        <td style="width: 15%;" th:text="${customer.customerCategory}"></td>
                        <td style="width: 15%;" th:text="${customer.customerNickname}"></td>
                        <td style="width: 40%;" th:text="${customer.customerTitle}"></td>
                        <td style="width: 20%;" th:text="${customer.customerDate}"></td>
                        <td style="width: 10%;"></td>
                    </tr>
                </table>
            </div>
            <div>
            	<ul>
            		<li th:if="${navi.prev}">
            			<a th:href="@{/customer/list(reqPage=${navi.startNo - 1})}">
					    	<span class="material-icons">chevron_left</span>
				        </a>
            		</li>
            		<li th:each="pageNo : ${#numbers.sequence(navi.startNo, navi.endNo)}">
            			<a th:classappend="${navi.reqPage == pageNo} ? 'active-page'" class="page-item" th:href="@{/customer/list(reqPage=${pageNo})}" th:text="${pageNo}">
					    </a>
					</li>
				    <li th:if="${navi.next}">
				    	<a class="page-item" th:href="@{/customer/list(reqPage=${navi.endNo + 1})}">
				        	<span class="material-icons">chevron_right</span>
				    	</a>
   					</li>
            	</ul>
            </div>
        </div>
    </div>
</body>
</html>