<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel='stylesheet' href="/DrumtongCss/customer.css">
    <style>
    	.material-icons{
    		margin: 0 auto;
    	}
    </style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="allfirst-wrap">
        <div class="all-wrap">
            <div>
                <div>
                	<span class="drumtong">DrumTong</span>
                	은 언제나 고객의 소리에 귀 기울이겠습니다.
                </div>
            </div>
            <div>
                <div class="customer-center">고객센터: <span class="material-icons" style="font-size: 15px;">phone</span> 1577-0000</div>
            </div>
            <div>
                <div>이용시간: 24시 연중무휴</div>
            </div>
            
            <div class="tab">
                <div>
                    <ul>
                        <li>
                            <a th:href=@{/customer/list?reqPage=1}>전체</a>
                        </li>
                        <li>
                            <a th:href="${session.member != null} ? '/customer/goodjob?reqPage=1' : '#'">칭찬</a>
                        </li>
                        <li>
                            <a th:href="${session.member != null} ? '/customer/complain?reqPage=1' : '#'">불만</a>
                        </li>
                        <li>
                            <a th:href="${session.member != null} ? '/customer/opinion?reqPage=1' : '#'">의견</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
<!--                         	<a th:href="@{/notice/view(noticeNo=${notice.noticeNo})}" th:text="${notice.noticeTitle}"></a> -->
                            <a href="/customer/list?reqPage=1&sort=lastest">최신순<span class="material-icons" style="font-size: 20px;">arrow_drop_down</span></a>
                        </li>
                        <li>
                            <a href="/customer/list?reqPage=1&sort=oldest">오래된순<span class="material-icons" style="font-size: 20px;">arrow_drop_down</span></a>
                        </li>
                        <li>
                            <a href="/customer/list?reqPage=1&sort=abc">가나다순<span class="material-icons" style="font-size: 20px;">arrow_drop_down</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="customer-content-wrap">
                <table class="title-table">
                    <tr>
                        <th style="width: 15%;">유형</th>
                        <th style="width: 15%;">작성자</th>
                        <th style="width: 45%;">제목</th>
                        <th style="width: 15%;">작성일</th>
                        <th style="width: 10%;">삭제</th>
                    </tr>
                    <tbody th:if="${session.member != null}">
	                    <tr class="tab-content"  th:each="customer : ${list}">
	                        <td style="width: 15%;" th:text="${customer.customerCategory}"></td>
	                        <td style="width: 15%;" th:text="${customer.customerNickname}"></td>
	                        <td class="title-td" style="width: 45%;">
	                        	<a th:href=@{/customer/view(customerNo=${customer.customerNo})} th:text="${customer.customerTitle}"></a>
	                        </td>
	                        <td style="width: 15%;" th:text="${customer.customerDate}"></td>
	                        <td style="width: 10%;">
	                        	<th:block th:if="${session.member.memberNickname == customer.customerNickname}">
	                            	<button class="delete-btn" th:value="${customer.customerNo}">삭제</button>
	                            </th:block>
	                        </td>
	                    </tr>
	                    <tr class="button-tr">
	                    	<td class="button-td" colspan="5">
	                    		<a th:href="@{/customer/writeFrm}">
		                        	<button class="write-btn" th:href=@{/customer/writeFrm}>글쓰기</button>
		                        </a>
	                    	</td>
	                    </tr>
                    </tbody>
                    <tbody th:if="${session.member == null}">
                        <tr>
                            <td colspan="5" class="login-warning">
                                게시글 목록을 보려면 <a th:href=@{/member/loginFrm} class="login">로그인</a>이 필요합니다.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="navi" th:if="${session.member != null}">
            	<ul class="navi-ul">
            		<li class="navi-li" th:if="${navi.prev}">
            			<a th:href="@{/customer/list(reqPage=${navi.startNo - 1},sort=${sort})}">
					    	<span class="material-icons">chevron_left</span>
				        </a>
            		</li>
            		<li class="navi-li" th:each="pageNo : ${#numbers.sequence(navi.startNo, navi.endNo)}">
            			<a th:classappend="${navi.reqPage == pageNo} ? 'active-page' : ''" class="page-item" th:href="@{/customer/list(reqPage=${pageNo},sort=${sort})}" th:text="${pageNo}">
					    </a>
					</li>
				    <li class="navi-li" th:if="${navi.next}">
				    	<a class="page-item" th:href="@{/customer/list(reqPage=${navi.endNo + 1},sort=${sort})}">
				        	<span class="material-icons">chevron_right</span>
				    	</a>
   					</li>
            	</ul>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
    <script>
    $(document).ready(function(){
	    $(".delete-btn").on("click", function() {
	        
	        const deleteBtn = $(this);
	        const index = $(".delete-btn").index(this);
			const customerNo = deleteBtn.val();
	        if (!confirm("정말로 삭제하시겠습니까?")) {
	            return;
	        }
	       
	        $.ajax({
	            url: "/customer/delete",
	            type: "POST",
	            data: {
	                customerNo: customerNo
	            },
	            success: function(response) {
	                if (response === "success") {
	                    alert("게시글이 삭제되었습니다.");
						$(".tab-content").eq(index).remove();
	                    
	                } else {
	                    alert("게시글 삭제 실패");
	                }
	            },
	            error: function() {
	                alert("삭제 오류");
	            }
	        });
	    });
    });
    
    
    </script>
</body>
</html>