<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/DrumtongCss/customer_view.css">
<style>
	.inputbox{
		width:100%;
		height: 100%;
		border: none;
		text-align: center;
	}
	.table-tr>td{
		padding: 0;
	}
	.inputbox:focus{
	    outline: none;
	}
</style>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="all-wrap">
        <div class="all-content-wrap">
	        <form action="/customer/update" method="post" enctype="multipart/form-data">
	            <div>
	                <table class="tbl" style="width: 100%" >
	                    <tr class="table-tr">
	                        <th style="width: 15%">유형</th>
	                        <td style="width: 30%">
	                        	<input type="text" class="inputbox" name="customerCategory" th:value="${c.customerCategory}">
	                        </td>
	                        <th style="width: 15%">제목</th>
	                        <td style="width: 40%">
	                        	<input type="text" class="inputbox" name="customerTitle" th:value="${c.customerTitle}">
	                        </td>
	                    </tr>
	                    <tr>
	                        <th>첨부파일</th>
	                        <td colspan="3">
						        <th:block th:if="${!c.fileList.isEmpty()}">
						            <div th:each="file : ${c.fileList}">
						            	<img src="/img/file.png">
						                <a th:href="@{/customer/filedown(customerFileNo=${file.customerFileNo})}" th:text="${file.fileName}"></a>
						                <span class="material-icons" th:onclick="deleteFile([[${file.customerFileNo}]], this)">delete</span>
						            </div>
						        </th:block>
						
						        <th:block th:if="${c.fileList.isEmpty()}">
						            <span>첨부된 파일이 없습니다.</span>
						        </th:block>
						    </td>
	                    </tr>
	                    <tr>
	                    	<th>추가파일</th>
	                    	<td colspan="3">
	                    		<input type="file" name="upfile" multiple>
	                    	</td>
	                    </tr>
	                    <tr>
	                    	<td class="content" colspan="4">
	                    		<textarea class="writeContent" name="customerContent" th:utext="${c.customerContent}"></textarea>
	                    	</td>
	                    </tr>
	                </table>
	             </div>
	             <div>
	             	<button type="submit" class="modybtn">수정</button>
	             	<a class="modybtn" th:href="@{/customer/view(customerNo=${c.customerNo})}">취소</a>
	             </div>
	             <input type="hidden" name="customerNo" th:value="${c.customerNo}">
	        </form>
         </div>      
     </div>
     <script>
     	function deleteFile(customerFileNo, obj){
     		const input = $("<input>");
     		input.attr("name","delFileNo");
     		input.attr("type","hidden");
     		input.val(customerFileNo);
     		$(".all-content-wrap").append(input);
     		$(obj).parent().remove();
     	};
     </script>
     <th:block th:include="common/footer"></th:block>     
</body>
</html>