<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/DrumtongCss/customer_view.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="all-wrap">
        <div class="all-content-wrap">
            <div>
                <table class="tbl" style="width: 100%" >
                    <tr>
                        <th style="width: 15%">유형</th>
                        <td style="width: 30%" th:text="${c.customerCategory}"></td>
                        <th style="width: 15%">제목</th>
                        <td style="width: 40%" th:text="${c.customerTitle}"></td>
                    </tr>
                    <tr>
                        <th>첨부파일</th>
                        <td colspan="3">
					        <th:block th:if="${!c.fileList.isEmpty()}">
					            <div th:each="file : ${c.fileList}">
					                <span th:text="${file.fileName}"></span>
					            </div>
					        </th:block>
					
					        <th:block th:if="${c.fileList.isEmpty()}">
					            <span>첨부된 파일이 없습니다.</span>
					        </th:block>
					    </td>
                    </tr>
                    <tr>
                        <td class="content" colspan="4" th:utext="${c.customerContent}"></td>
                    </tr>
                </table>
                <div>
                   <div>
                   		<th:block th:if="${session.member.memberNickname == c.customerNickname}">
	                    	<form action="/customer/insertComment" method="post">	
		                        <ul class="comment-ul">
		                            <li>
		                                <span class="material-icons" style="font-size: 50px;">self_improvement</span>
		                            </li>
		                            <li>
		                                <input type="hidden" name="customerWriterNo" th:value=${session.member.memberNo}>
		                                <input type="hidden" name="customerServiceRef" th:value=${c.customerNo}>
		                                <div class="input-item">
		                                    <textarea class="ccc" style="background-color: var(--main2);" name="commentContent"></textarea>
		                                </div>
		                            </li>
		                            <li>
		                                <button type="submit" class="comment-btn">댓글등록</button>
		                            </li>
		                        </ul>
                        	</form>
                        </th:block>
                        <div class="gong"></div>
                        <th:block th:each="cc : ${c.commentList}">
	                        <ul class="comment-ul-road">
	                            <li>
	                                <span th:text="${session.member.memberNickname}"></span>
	                            </li>
	                            <li>
									<div class="input-item">
	                                    <p th:text="${cc.commentContent}"></p>
	                                </div>
	                            </li>
	                            <li>
		                            <div>
			                            <th:block th:if="${session.member.memberNo == cc.customerWriterNo}">
											<a href="#">수정</a>
											<button class="delComment" th:value="${cc.commentNo}">삭제</button>
										</th:block>
									</div>
									<div>
										<a>답글달기</a>
									</div>
	                            </li>
	                        </ul>
	                        <ul class="comment-ul-ref">
	                            <li>
	                                <span class="material-icons" style="font-size: 40px;">subdirectory_arrow_right</span>
	                            </li>
	                            <li>
	                            
	                            </li>
	                            <li>
	
	                            </li>
	                        </ul>
                        </th:block>
                    </div>
                </div>
                <div class="rank">
                    <span>관리자 댓글에 대한 평점을 남겨주세요.</span>
                </div>
                <div class="star-wrap">
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                    <span class="material-icons">star</span>
                </div>
                <p class="star-rank">0점</p>
                <div class="modydele">
                    <th:block class="modydele-th">
                            <a href="#" class="btn btn1">수정</a>
                            <button class="btn btn2">삭제</button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
    <script>
        const star = $(".star-wrap>span")
        star.on("click",function(){
            star.css("color", "var(--gray6)");
            $(this).prevAll().css("color", "var(--main4)");
            $(this).css("color", "var(--main4)");
            const index = star.index(this);
            $(".star-rank").text(index+1+"점");
        });
        
        $(".delComment").on("click", function(){
        	const delComment = $(this);
        	const index = $(".delComment").index(this);
        	const customerNo = delComment.val();
        	if(!confirm("정말로 댓글을 삭제하시겠습니까?")) {
        		return;
        	}
        	
        	$.ajax({
        		url: "/customer/deleteComment",
        		type: "POST",
        		data: {
        			commentNo: commentNo
        		},
        		success: function(response) {
        			if(response === "success") {
        				alert("댓글이 삭제되었습니다.");
        				$(".comment-ul-road").eq(index).remove();
        			} else {
        				alert("댓글 삭제 실패");
        			}
        		},
        		error: function(){
        			alert("댓글 삭제 오류");
        		}
        	});
        });
        	
        	
        

    </script>
</body>
</html>