<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.customer.dao.CustomerDao">
	
	<select id="selectCustomerList" resultType="customer">
		SELECT *
			FROM (
			    SELECT rownum AS rnum, c.*
			    FROM (
			        SELECT customer_category, customer_nickname, customer_title, customer_date
			        FROM customer_service_tbl
			        <choose>
			        	<when test="sort == null">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('lastest')">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('oldest')">
			        		order by customer_no asc
			        	</when>
			        	<when test="sort.equals('abc')">
			        		order by customer_title desc, customer_no desc
			        	</when>
			        </choose>
			    ) c
			)
			WHERE #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
	</select>
	
	<select id="selectCustomerTotalCount" resultType="int">
		select count(*) from customer_service_tbl
	</select>
	
	<select id="selectGjList" resultType="customer">
		SELECT *
			FROM (
			    SELECT rownum AS rnum, c.*
			    FROM (
			       SELECT customer_category, customer_nickname, customer_title, customer_date
			        FROM customer_service_tbl
			        WHERE customer_category = '칭찬'
			        <choose>
			        	<when test="sort == null">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('lastest')">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('oldest')">
			        		order by customer_no asc
			        	</when>
			        	<when test="sort.equals('abc')">
			        		order by customer_title desc, customer_no desc
			        	</when>
			        </choose>
			    ) c
			)
			WHERE #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
	</select>
	
	<select id="selectGjTotalCount" resultType="int">
		select count(*) from customer_service_tbl where customer_category = '칭찬'
	</select>
	
	<select id="selectComplainList" resultType="customer">
		SELECT *
			FROM (
			    SELECT rownum AS rnum, c.*
			    FROM (
			       SELECT customer_category, customer_nickname, customer_title, customer_date
			        FROM customer_service_tbl
			        WHERE customer_category = '불만'
			        <choose>
			        	<when test="sort == null">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('lastest')">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('oldest')">
			        		order by customer_no asc
			        	</when>
			        	<when test="sort.equals('abc')">
			        		order by customer_title desc, customer_no desc
			        	</when>
			        </choose>
			    ) c
			)
			WHERE #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
	</select>
	
	<select id="selectComplainTotalCount" resultType="int">
		select count(*) from customer_service_tbl where customer_category = '불만'
	</select>
	
	<select id="selectOpinionList" resultType="customer">
		select * 
			from (
				select rownum as rnum, c.* 
				from (
					select customer_category, customer_nickname, customer_title, customer_date
					from customer_service_tbl
					where customer_category = '의견'
					<choose>
			        	<when test="sort == null">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('lastest')">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('oldest')">
			        		order by customer_no asc
			        	</when>
			        	<when test="sort.equals('abc')">
			        		order by customer_title desc, customer_no desc
			        	</when>
			        </choose>
					) c
			)
			where #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
	</select>
	
	<select id="selectOpinionTotalCount" resultType="int">
		select count(*) from customer_service_tbl where customer_category = '의견'
	</select>
	
	
</mapper>
