<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.customer.dao.CustomerDao">
	
	<select id="selectCustomerList" resultType="customer">
		SELECT *
			FROM (
			    SELECT rownum AS rnum, c.*
			    FROM (
			        SELECT customer_no, customer_category, customer_nickname, customer_title, customer_date
			        FROM customer_service_tbl
			        <where>
			        	<if test="memberGrade != null and memberGrade != '관리자'">
			        		customer_nickname = #{memberNickname}
			        	</if>
			        	<if test="category != null">
		                    AND customer_category = #{category}
		                </if>
			        </where>
			        <choose>	
			        	<when test="sort == null">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('lastest')">
			        		ORDER BY customer_no DESC
			        	</when>
			        	<when test="sort.equals('oldest')">
			        		order by customer_no asc
			        	</when>
			        	<when test="sort.equals('abc')">
			        		order by customer_title asc, customer_no asc
			        	</when>
			        </choose>
			    ) c
			)
			WHERE #{start} <![CDATA[ <= ]]> rnum and rnum <![CDATA[ <= ]]> #{end}
	</select>
	
	<select id="selectCustomerTotalCount" resultType="int">
		select count(*) from customer_service_tbl
		<where>
	        <if test="memberGrade != null and memberGrade != '관리자'">
	            customer_nickname = #{memberNickname}
	        </if>
	        <if test="category != null">
	            AND customer_category = #{category}
	        </if>
    	</where>
	</select>
	

	<select id="selectOneCustomer" resultType="customer">
	    select
	        customer_no,         
	        customer_nickname, 
	        customer_category,   
	        customer_title,      
	        customer_content,    
	        customer_date,		
	        customer_star       
	    from
	        customer_service_tbl
	    where
	        customer_no = #{customerNo}
	</select>

	<insert id="insertCustomer">
		insert into customer_service_tbl 
			values(#{customerNo}, #{customerNickname}, #{customerCategory}, #{customerTitle}, #{customerContent}, to_char(sysdate, 'yyyy-mm-dd'), #{customerStar})
	</insert>
	
	<select id="getCustomerNo" resultType="int">
		select customer_service_seq.nextval from dual
	</select>
	
	<insert id="insertCustomerFile">
		insert into customer_service_file
		values(customer_service_file_seq.nextval, #{customerNo}, #{fileName}, #{filePath})
	</insert>
	
	<select id="selectCustomerFiles" resultType="customerServiceFile">
		select * from customer_service_file where customer_no = #{customerNo}
	</select>
	
	<delete id="deleteCustomerFiles">
		delete from customer_service_file where customer_file_no = #{customerFileNo}
	</delete>
	
	<delete id="deleteCustomer">
        DELETE FROM customer_service_tbl WHERE customer_no = #{customerNo}
    </delete>
    
    <insert id="insertCustomerComment">
    	insert into customer_comment values(
    		customer_comment_seq.nextval,
    		#{customerServiceRef},
    		<if test="customerCommentRef == 0">
    			null,
    		</if> 
    		<if	test="customerCommentRef != 0">
	    		#{customerCommentRef},
    		</if>
    		#{commentContent},
    		to_char(sysdate, 'yyyy-mm-dd'),
    		#{customerWriterNo})
    </insert>
    
    <select id="selectCustomerCommentList" resultType="customerComment">
    	select * 
    	from customer_comment 
    	where customer_service_ref = #{customerNo}
    	order by nvl(customer_comment_ref, comment_no), comment_no asc
    </select>
    
    <delete id="deleteComment">
    	delete from customer_comment where comment_no = #{commentNo}
    </delete>
    
    <select id="selectAllMember" resultType="member">
	    select member_no, member_nickname, member_grade
	    from member_tbl
	</select>
	
	<select id="selectOneComment" resultType="customerComment">
    	select * from customer_comment where comment_no = #{commentNo}
    </select>
    
    <update id="updateComment">
    	update
    		customer_comment
    	set
    		comment_content = #{commentContent}
    	where
    		comment_no = #{commentNo}
    </update>
    
    <update id="updateStarRating">
		update
			customer_service_tbl
		set
			customer_star = #{customerStar}
		where
			customer_no = #{customerNo}
	</update>
	
	<select id="selectOneCustomerFile" resultType="customerServiceFile">
		select * from customer_service_file where customer_file_no = #{customerFileNo}
	</select>
	
	<update id="updateCustomer">
		update customer_service_tbl set
			customer_title = #{customerTitle},
			customer_content = #{customerContent},
			customer_category = #{customerCategory}
		where
			customer_no = #{customerNo}
	</update>
	
	<select id="selectCustomerFileList" resultType="customerServiceFile">
		select *
		from customer_service_file_no in
		<foreach collection="array" item="customerFileNo" open="(" close=")" separator=",">
			#{customerFileNo}
		</foreach>
	</select>
	
	<delete id="deleteCustomerFile">
		delete from customer_service_file where customer_file_no = #{customerFileNo}
	</delete>
</mapper>
