<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.membershiprecode.model.dao.MemberShipRecodeDao">
	<insert id="insertRecode">
		insert into membership_recode_tbl values(
			membership_recode_seq.nextval,
			to_char(sysdate, 'yyyy-mm-dd'),
			to_char(add_months(sysdate, 12), 'yyyy-mm-dd'),
			#{membershiprecodeNickname},
			#{membershiprecodeMemberNo},
		)
	</insert>
</mapper>
