<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.news.model.dao.NewsDao">
  <select id="selectAllNotice" resultType="notice">
  		select * from 
    		(select rownum as rnum, n.* from 
        		(select 
            		notice_no, title, write_date
       			 from notice order by notice_no desc
       			 )n
       		)
       	where rnum between #{start} and #{end}
  </select>
  
  <select id="countAllNotice" resultType="int">
  		select count(*) from notice
  </select>
  
  <select id="selectOneNotice" resultType="notice">
  		select * from notice where notice_no = #{noticeNo}
  </select>
  
  <select id="selectTotalNewsCount" resultType="int">
  		select count(*) from news
  </select>
  
  <insert id="insertNews">
  	insert into news values(news_seq.nextval, #{memberNo}, #{type}, #{startDate}, #{endDate}, #{title}, #{content}, to_char(sysdate,'yyyy-mm-dd'), #{image})
  </insert>
  
 
  <insert id="insertDiscount">
  	insert into discount values(discount_seq.nextval, #{newsNo}, #{productNo}, #{discountPercent}, #{discountPrice})
  </insert>

	<select id="selectAllNews"  resultType="news">
		select * from (
  select * from (
    select rownum as rnum, n.* from(select * from news order by news_no desc)n) 
		where rnum between#{start} and #{end}) full join (select * from (select member_no, news_no from news_like group by (member_no, news_no)) join 
	(select news_no, count(*) as "LIKE_COUNT" from news_like group by news_no)
	using(news_no)) using(news_no)
	</select>
	
	<insert id="insertNotice">
		insert into notice values(notice_seq.nextval, #{memberNo}, #{title}, #{content}, to_char(sysdate,'yyyy-mm-dd'))
	</insert>
	
	<insert id="insertNewsLike">
		insert into news_like values(#{memberNo}, #{newsNo})
	</insert>
	
	<delete id="deleteNewsLike">
		delete from news_like where member_no = #{memberNo} and news_no = #{newsNo}
	</delete>
	
	<select id="selectNewsLikeCount" resultType="int">
		select count(*) from news_like 		
	</select>
</mapper>
