<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.order.dao.OrderDao">
	
	<select id="shopList" resultType="shop">
		select * from shop_tbl
	</select>
	

	<select id="option" resultType="product">
		select product_no, product_img,product_name,product_price from product_tbl where product_no = #{productNo}
	</select>

	<insert id="insertCart">
		insert into order_details_tbl
	</insert>
		
</mapper>
