<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.order.dao.OrderDao">
	
	<select id="shopList" resultType="shop">
		select * from shop_tbl
	</select>
	
	<!-- 자명님 물건값 받아오는 로직  -->
	<select id="option" resultType="product">
		select product_no, product_img,product_name,product_price from product_tbl where product_no = #{productNo}
	</select>

	<insert id="insertCart">
		insert into cart_item_tbl (cart_no, cup_choice, cup_size, cup_shot, cup_cream, count, product_no, 
			member_no, shop_name) 
			values (cart_item_tbl_seq.nextval,
			#{cupChoice}, #{cupSize}, #{cupShot}, #{cupCream},
			#{count}, #{productNo}, #{memberNo}, #{shopName})
	</insert>
	
		
</mapper>
