<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.product.dao.ProductDao">
  <insert id="productInsert">
  	insert into product_tbl values(
  								product_seq.nextval, 
  								#{productName}, 
  								#{productPrice}, 
  								#{productTitle}, 
  								#{productTilteTemp}, 
  								#{productTitleDetail},
  								#{productContentPresent},
  								#{productContentKcal},
  								#{productContentShot},
  								#{productContentSugar},
  								#{productContentNatrium},
  								#{productContentProtein},
  								#{productImg})
  </insert>
  
  <select id="productInsertSearch" resultType="product">
  	select * from product_tbl where product_name=#{productName}
  </select>
  
  <insert id="productBestTblInsert">
  	insert into product_best_tbl values(product_best_seq.nextval, #{productNo}, #{productName})
  </insert>
  
  <delete id="productInsertDelete">
  	delete from product_tbl where product_name=#{productName}
  </delete>
  
  <select id="selectProductTotalCount">
  	select count(*) from product_tbl
  </select>
  
  <select id="selectProductList" resultType="product">
  	select * from 
    		(select rownum as rnum, n.* from 
        		(select 
            		* 
       			 from product_tbl order by product_no desc
       			 )n
       		)
		where rnum between #{start} and #{end}
  </select>
  
  <select id="productListPriceDate" resultType="product">
  	 	select * from 
    		(select rownum as rnum, n.* from 
        		(select * from product_tbl order by product_price asc
       			 )n
       		)
		where rnum between #{start} and #{end}
  </select>
  
  <select id="ProductListDessert" resultType="product">
  	select * from 
    		(select rownum as rnum, n.* from 
        		(select 
            		* 
       			 from product_tbl where product_title ='dessert' order by product_no desc
       			 )n
       		)
		where rnum between #{start} and #{end}
  </select>
  
  <select id="productBestSelect" resultType="product">
  	select * from product_best_tbl where product_no = #{productNo}
  </select>
  
  <delete id="productBestDelete">
  	delete from product_best_tbl where product_no=#{productNo}
  </delete>
  
  <delete id="productDelete">
  	delete from product_tbl where product_no=#{productNo}
  </delete>
  
  <select id="bestProductList" resultType="product">
  	select * 
		from product_tbl p
		join product_best_tbl b on (b.product_no = p.product_no)
  </select>
  
  <select id="notBestProductList" resultType="product">
  	select *
	from product_tbl p
	left join product_best_tbl b on (b.product_no = p.product_no)
	where product_best_no is null
  </select>
  
  <select id="allproductList" resultType="product">
  	select * from
    (select rownum as rnum, n.* from 
                (select *
                    from product_tbl p
                    left join product_best_tbl b on (b.product_no = p.product_no)
                    order by product_best_no asc
                )n
        )
        where rnum between #{start} and #{end}
  </select>
</mapper>
